{"openapi":"3.1.0","info":{"title":"API Settings","version":"3"},"servers":[{"url":"https://api.projectmanager.com/api/v3"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","name":"apiKey","in":"header","x-default":"Enter api key here"}}},"security":[{"sec0":[]}],"paths":{"/project/{project_id}":{"delete":{"summary":"Project Delete","description":"Deletes a project from your account","operationId":"delete-a-project","parameters":[{"name":"project_id","in":"path","description":"The ID of the project you want to delete.","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n  type: \"DELETE\",\n  url: \"https://api.projectmanager.com/api/v3/project/\" + projectId, \n  contentType: 'application/json', \n  dataTypet: \"json\",\n  success: worked ,            \n  headers: { apiKey: apiKey }\n});","name":"jQuery"}],"samples-languages":["javascript"]}},"get":{"summary":"Project Details","description":"Returns the full details about a specific project","operationId":"get-project-details","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"groups\": [\n            {\n                \"order\": 3,\n                \"id\": \"c1261fa4-34e1-4f0a-bc88-3023b6de4a36\",\n                \"name\": \"New Column\"\n            },\n            {\n                \"order\": 1,\n                \"id\": \"d49036c2-6e55-43a6-af5e-4e0e9c4aa2d1\",\n                \"name\": \"Doing\"\n            },\n            {\n                \"order\": 0,\n                \"id\": \"359efb6e-eb14-448f-929f-6b28588caf23\",\n                \"name\": \"To Do\"\n            },\n            {\n                \"order\": 2,\n                \"id\": \"7d3b2c75-e25d-4e3b-8f9d-cd84b502eddd\",\n                \"name\": \"Done\"\n            }\n        ],\n        \"budget\": null,\n        \"chargeCode\": null,\n        \"customer\": null,\n        \"description\": \"\",\n        \"isFavorite\": false,\n        \"manager\": {\n            \"id\": \"d5b29cff-2cef-430a-9269-3d88d362b4dc\",\n            \"name\": \"Andrew Spear\"\n        },\n        \"priority\": {\n            \"id\": \"3565b2e0-029d-417b-a323-48cf42477dec\",\n            \"name\": \"Important\"\n        },\n        \"customColumns\": [],\n        \"rate\": null,\n        \"shortName\": \"Andrew’\",\n        \"status\": {\n            \"id\": \"9a7df84c-e453-4abf-86f4-d3b4f8d893be\",\n            \"name\": \"Open\"\n        },\n        \"shortId\": \"AP\",\n        \"url\": \"https://software.projectmanager.com/project/plan/AP\",\n        \"access\": \"public\",\n        \"id\": \"c6be8a85-fec2-480c-81a2-7edeb4901526\",\n        \"name\": \"Andrew’s Private Project\"\n    },\n    \"success\": true,\n    \"message\": null,\n    \"friendlyMessage\": null,\n    \"exceptionType\": null,\n    \"logout\": false,\n    \"errorLogged\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"groups":{"type":"array","items":{"type":"object","properties":{"order":{"type":"integer","example":3,"default":0},"id":{"type":"string","example":"c1261fa4-34e1-4f0a-bc88-3023b6de4a36"},"name":{"type":"string","example":"New Column"}}}},"budget":{},"chargeCode":{},"customer":{},"description":{"type":"string","example":""},"isFavorite":{"type":"boolean","example":false,"default":true},"manager":{"type":"object","properties":{"id":{"type":"string","example":"d5b29cff-2cef-430a-9269-3d88d362b4dc"},"name":{"type":"string","example":"Andrew Spear"}}},"priority":{"type":"object","properties":{"id":{"type":"string","example":"3565b2e0-029d-417b-a323-48cf42477dec"},"name":{"type":"string","example":"Important"}}},"customColumns":{"type":"array"},"rate":{},"shortName":{"type":"string","example":"Andrew’"},"status":{"type":"object","properties":{"id":{"type":"string","example":"9a7df84c-e453-4abf-86f4-d3b4f8d893be"},"name":{"type":"string","example":"Open"}}},"shortId":{"type":"string","example":"AP"},"url":{"type":"string","example":"https://software.projectmanager.com/project/plan/AP"},"access":{"type":"string","example":"public"},"id":{"type":"string","example":"c6be8a85-fec2-480c-81a2-7edeb4901526"},"name":{"type":"string","example":"Andrew’s Private Project"}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true},"errorLogged":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"put":{"summary":"Project Update","description":"Update an existing project","operationId":"project-update","parameters":[{"name":"project_id","in":"path","description":"The projectid of the project you wish to update","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the project"},"shortname":{"type":"string","description":"The shortname of your project (max 7 chars)"},"description":{"type":"string","description":"The description of the project (max 1000 chars)"},"rate":{"type":"number","description":"Default rate per hour","format":"double"},"budget":{"type":"number","description":"Project budget","format":"double"},"status":{"type":"string","description":"The status id, eg: `{id: 'f3562d29-e691-495f-992c-68a54797b866'}`"},"priority":{"type":"string","description":"The priority id, eg: `{id: '288647cf-b156-4468-b9d2-a11ca99b6c8f'}`"},"manager":{"type":"string","description":"The manager id, eg: `{id: 'bc82c03d-7094-4501-b313-ca6b6569c353'}`"},"chargecode":{"type":"string","description":"The charge code id, eg: `{id: 'bd0a28ba-8c34-4400-a46a-c781428bf233'}`"},"customer":{"type":"string","description":"The customer id, eg: `{id: 'bfade80f-3927-487c-b51d-f520c8ecb0f6'}`"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"budget\": 35000,\n    \"chargeCode\": {\n      \"id\": \"bd0a28ba-8c34-4400-a46a-c781428bf233\",\n      \"name\": \"Charge Code A\"\n    },\n    \"customer\": {\n      \"id\": \"bfade80f-3927-487c-b51d-f520c8ecb0f6\",\n      \"name\": \"Customer A\"\n    },\n    \"description\": \"description updated from the API\",\n    \"manager\": {\n      \"id\": \"bc82c03d-7094-4501-b313-ca6b6569c353\",\n      \"name\": \"API Tests\"\n    },\n    \"priority\": {\n      \"id\": \"d31e8643-956d-4456-b58f-b497f897ac5c\",\n      \"name\": \"Critical\"\n    },\n    \"customColumns\": [],\n    \"rate\": 13.33,\n    \"shortName\": \"npn\",\n    \"status\": {\n      \"id\": \"f3562d29-e691-495f-992c-68a54797b866\",\n      \"name\": \"On Hold\"\n    },\n    \"id\": \"ffb590cb-e742-42cb-bd48-608e501fbda9\",\n    \"name\": \"New Project Name\"\n  },\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"budget":{"type":"integer","example":35000,"default":0},"chargeCode":{"type":"object","properties":{"id":{"type":"string","example":"bd0a28ba-8c34-4400-a46a-c781428bf233"},"name":{"type":"string","example":"Charge Code A"}}},"customer":{"type":"object","properties":{"id":{"type":"string","example":"bfade80f-3927-487c-b51d-f520c8ecb0f6"},"name":{"type":"string","example":"Customer A"}}},"description":{"type":"string","example":"description updated from the API"},"manager":{"type":"object","properties":{"id":{"type":"string","example":"bc82c03d-7094-4501-b313-ca6b6569c353"},"name":{"type":"string","example":"API Tests"}}},"priority":{"type":"object","properties":{"id":{"type":"string","example":"d31e8643-956d-4456-b58f-b497f897ac5c"},"name":{"type":"string","example":"Critical"}}},"customColumns":{"type":"array"},"rate":{"type":"number","example":13.33,"default":0},"shortName":{"type":"string","example":"npn"},"status":{"type":"object","properties":{"id":{"type":"string","example":"f3562d29-e691-495f-992c-68a54797b866"},"name":{"type":"string","example":"On Hold"}}},"id":{"type":"string","example":"ffb590cb-e742-42cb-bd48-608e501fbda9"},"name":{"type":"string","example":"New Project Name"}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n  type: \"PUT\",\n  url: \"https://api.projectmanager.com/api/v3/project/{project_id}\", \n  contentType: 'application/json',           \n  headers: { apiKey: {api_key} },\n  data: {\n    \"name\": \"New Project Name\",\n    \"budget\": \"35000\"\n  }\n });"}],"samples-languages":["javascript"]}}},"/project/list":{"get":{"summary":"Project List","description":"Fetch all projects on your account","operationId":"all-projects","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\"data\":\n [\n   {\n    \"budget\":null,\n    \"chargeCode\":null,\n    \"description\":\"\",\n    \"isTemplate\":false,\n    \"manager\":null,\n    \"priority\":{\n      \"id\":\"2c6e43c5-fde7-4836-87fe-eeb550cd923c\",\n      \"name\":\"Very Important\"\n    },\n    \"customColumns\":[],\n    \"rate\":0.0,\n    \"shortName\":\"API_Pro\",\n    \"status\":{\"id\":\"bc091bd9-b617-4209-8b29-d33430abcd63\",\"name\":\"Open\"},\n    \"id\":\"a86eb63a-7941-4202-9ebd-118d60e42c6f\",\n    \"name\":\"API_Project01\"\n   }\n ],\n \"success\":true,\n \"message\":null,\n \"friendlyMessage\":null,\n \"exceptionType\":null,\n \"logout\":false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"budget":{},"chargeCode":{},"description":{"type":"string","example":""},"isTemplate":{"type":"boolean","example":false,"default":true},"manager":{},"priority":{"type":"object","properties":{"id":{"type":"string","example":"2c6e43c5-fde7-4836-87fe-eeb550cd923c"},"name":{"type":"string","example":"Very Important"}}},"customColumns":{"type":"array"},"rate":{"type":"integer","example":0,"default":0},"shortName":{"type":"string","example":"API_Pro"},"status":{"type":"object","properties":{"id":{"type":"string","example":"bc091bd9-b617-4209-8b29-d33430abcd63"},"name":{"type":"string","example":"Open"}}},"id":{"type":"string","example":"a86eb63a-7941-4202-9ebd-118d60e42c6f"},"name":{"type":"string","example":"API_Project01"}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n  type: 'GET',\n  url: 'https://api.projectmanager.com/api/v3/project/list',\n  headers: {'apiKey': '{api_key}'}\n}).done(function(data) {\n  log(data);\n});","name":"jQuery"},{"language":"php","code":"<?\n$context = stream_context_create(array(\n  'http'=>array(\n    'method'=>\"GET\",\n    'header'=>\"apiKey: {api_key}\")\n));\n$data = file_get_contents('https://api.projectmanager.com/api/v1/projects.json', false, $context);\nprint_r(json_decode($data));\n?>","name":"PHP"}],"samples-languages":["javascript","php"]}}},"/projectdata/chargecodes":{"get":{"summary":"Project Charge Codes","description":"Each ProjectManager account can have a different set of charge codes to assign to their projects. This endpoint will give you the details of your account-specific charge codes.","operationId":"get-charge-codes","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": \"2b5e0585-33ae-448f-9c17-67f079dceb51\",\n      \"name\": \"Charge0\"\n    },\n    {\n      \"id\": \"0c4274db-7621-4c1d-a194-7c9e3f6d24b7\",\n      \"name\": \"Charge1\"\n    }\n  ],\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"2b5e0585-33ae-448f-9c17-67f079dceb51"},"name":{"type":"string","example":"Charge0"}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n      type: 'GET',\n      url: 'https://api.projectmanager.com/api/v3/projectdata/chargecodes',\n      headers: {'apiKey': '[yourApiKey]'}\n}).done(function(data) {\n\t\t\tlog(data);\n});"}],"samples-languages":["javascript"]}}},"/project/create":{"post":{"summary":"Project Create","description":"Create a new project on your account","operationId":"create-a-project","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"The name of the project"},"shortname":{"type":"string","description":"The shortname of your project (max 7 chars)"},"description":{"type":"string","description":"The description of the project (max 1000 chars)"},"rate":{"type":"number","description":"Default rate per hour","format":"double"},"budget":{"type":"number","description":"Project budget","format":"double"},"status":{"type":"string","description":"The status id, eg: `{id: 'f3562d29-e691-495f-992c-68a54797b866'}`"},"priority":{"type":"string","description":"The priority id, eg: `{id: '288647cf-b156-4468-b9d2-a11ca99b6c8f'}`"},"manager":{"type":"string","description":"The manager id, eg: `{id: 'bc82c03d-7094-4501-b313-ca6b6569c353'}`"},"chargecode":{"type":"string","description":"The charge code id, eg: `{id: 'bd0a28ba-8c34-4400-a46a-c781428bf233'}`"},"customer":{"type":"string","description":"The customer id, eg: `{id: 'bfade80f-3927-487c-b51d-f520c8ecb0f6'}`"},"access":{"type":"string","description":"Who has access to this project: `private` (only you) or `public` (everyone on the account)","default":"public"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"budget\": null,\n    \"chargeCode\": {\n      \"id\": \"bd0a28ba-8c34-4400-a46a-c781428bf233\",\n      \"name\": null\n    },\n    \"customer\": {\n      \"id\": \"bfade80f-3927-487c-b51d-f520c8ecb0f6\",\n      \"name\": null\n    },\n    \"description\": null,\n    \"isFavorite\": false,\n    \"manager\": {\n      \"id\": \"bc82c03d-7094-4501-b313-ca6b6569c353\",\n      \"name\": null\n    },\n    \"priority\": {\n      \"id\": \"288647cf-b156-4468-b9d2-a11ca99b6c8f\",\n      \"name\": null\n    },\n    \"customColumns\": null,\n    \"rate\": null,\n    \"shortName\": null,\n    \"status\": {\n      \"id\": \"f3562d29-e691-495f-992c-68a54797b866\",\n      \"name\": null\n    },\n    \"shortId\": \"DP\",\n    \"url\": \"https://software.projectmanager.com/project/plan/DP\",\n    \"access\": \"private\",\n    \"id\": \"d3870a64-43b6-433e-9b8f-3bc65afd34b0\",\n    \"name\": \"Demo Project\"\n  },\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false,\n  \"errorLogged\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"budget":{},"chargeCode":{"type":"object","properties":{"id":{"type":"string","example":"bd0a28ba-8c34-4400-a46a-c781428bf233"},"name":{}}},"customer":{"type":"object","properties":{"id":{"type":"string","example":"bfade80f-3927-487c-b51d-f520c8ecb0f6"},"name":{}}},"description":{},"isFavorite":{"type":"boolean","example":false,"default":true},"manager":{"type":"object","properties":{"id":{"type":"string","example":"bc82c03d-7094-4501-b313-ca6b6569c353"},"name":{}}},"priority":{"type":"object","properties":{"id":{"type":"string","example":"288647cf-b156-4468-b9d2-a11ca99b6c8f"},"name":{}}},"customColumns":{},"rate":{},"shortName":{},"status":{"type":"object","properties":{"id":{"type":"string","example":"f3562d29-e691-495f-992c-68a54797b866"},"name":{}}},"shortId":{"type":"string","example":"DP"},"url":{"type":"string","example":"https://software.projectmanager.com/project/plan/DP"},"access":{"type":"string","example":"private"},"id":{"type":"string","example":"d3870a64-43b6-433e-9b8f-3bc65afd34b0"},"name":{"type":"string","example":"Demo Project"}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true},"errorLogged":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n  type: \"POST\",\n  url: \"https://api.projectmanager.com/api/v3/project/create\", \n  contentType: 'application/json', \n  dataTypet: \"json\",          \n  headers: { apiKey: apiKey },\n  data: {\n    \"name\": \"demo project\",\n    \"shortname\": \"demo\",\n    \"description\": \"Project to demonstrate API project creation\",\n    \"rate\": 30.00,\n    \"budget\": \"200\",\n    \"status\": {id: 'f3562d29-e691-495f-992c-68a54797b866'},\n    \"priority\": {id: '288647cf-b156-4468-b9d2-a11ca99b6c8f'},\n    \"manager\": {id: 'bc82c03d-7094-4501-b313-ca6b6569c353'},\n    \"chargecode\": {id: 'bd0a28ba-8c34-4400-a46a-c781428bf233'},\n    \"customer\": {id: 'bfade80f-3927-487c-b51d-f520c8ecb0f6'}\n    \"access\": \"private\"\n  }\n });"}],"samples-languages":["javascript"]}}},"/projectdata/statuses":{"get":{"summary":"Project Statuses","description":"Get a list of all available project statuses.","operationId":"get-statuses","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": \"4d27448f-ee79-4711-b61a-5996e024b7b2\",\n      \"name\": \"Deleted\"\n    },\n    {\n      \"id\": \"9df3fb10-e539-474e-91df-62343718db10\",\n      \"name\": \"Closed\"\n    },\n    {\n      \"id\": \"95c951fb-d2b7-4dc7-afdd-c6590a23575b\",\n      \"name\": \"On Hold\"\n    },\n    {\n      \"id\": \"bc091bd9-b617-4209-8b29-d33430abcd63\",\n      \"name\": \"Open\"\n    },\n    {\n      \"id\": \"df437c13-7b89-4b27-88c1-f4adb076ad50\",\n      \"name\": \"Not Started\"\n    }\n  ],\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"4d27448f-ee79-4711-b61a-5996e024b7b2"},"name":{"type":"string","example":"Deleted"}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n  type: 'GET',\n  url: 'https://api.projectmanager.com/api/v3/projectdata/statuses',\n  headers: {'apiKey': '[yourApiKey]'}\n}).done(function(data) {\n  log(data);\n});"}],"samples-languages":["javascript"]}}},"/timesheet/admintypes":{"get":{"summary":"Timesheet Admin Types","description":"Fetch all generic admin tasks on your account.","operationId":"timesheet-admin-types","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": \"81de81f2-8df7-4b65-980b-094cb245b63d\",\n      \"name\": \"Meetings\"\n    },\n    {\n      \"id\": \"e835ee55-8ef5-4bf7-a1dd-1d621d0e2007\",\n      \"name\": \"Daily Stand-ups\"\n    },\n    {\n      \"id\": \"0a58bfe5-13ea-4312-9e05-2771e6c0d259\",\n      \"name\": \"Annual Leave\"\n    },\n    {\n      \"id\": \"91badc39-4bc5-46e6-a36b-5b904a9e255b\",\n      \"name\": \"Admin\"\n    },\n    {\n      \"id\": \"e65cf7b7-fb52-407c-935c-93d22db141d6\",\n      \"name\": \"Misc\"\n    },\n    {\n      \"id\": \"5fcb2ed8-3919-40b6-bacc-94ef82970288\",\n      \"name\": \"Sick Leave\"\n    }\n  ],\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false,\n  \"errorLogged\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"81de81f2-8df7-4b65-980b-094cb245b63d"},"name":{"type":"string","example":"Meetings"}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true},"errorLogged":{"type":"boolean","example":false,"default":true}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"var settings = {\n  \"url\": \"https://api.projectmanager.com/api/v3/timesheet/admintypes\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"apiKey\": \"[yourApiKey]\"\n  },\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});","name":"jQuery"},{"language":"javascript","code":"var myHeaders = new Headers();\nmyHeaders.append(\"apiKey\", \"[yourApiKey]\");\n\nvar requestOptions = {\n  method: 'GET',\n  headers: myHeaders,\n  redirect: 'follow'\n};\n\nfetch(\"https://api.projectmanager.com/api/v3/timesheet/admintypes\", requestOptions)\n  .then(response => response.text())\n  .then(result => console.log(result))\n  .catch(error => console.log('error', error));","name":"JS Fetch"}],"samples-languages":["javascript"]}}},"/projectdata/customers":{"get":{"summary":"Project Customers","description":"Get a list of all available project customers. These are not resources, they are a separate datapoint altogether, used for keeping track of who a project is for.","operationId":"get-customers","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": \"dd0b4d2c-33d4-4f8e-9677-a4cdc7ce5db7\",\n      \"name\": \"Customer1\"\n    },\n    {\n      \"id\": \"f522ed75-e22e-4b2b-ba9e-c2fe5c23e5fc\",\n      \"name\": \"CustomerA\"\n    }\n  ],\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"dd0b4d2c-33d4-4f8e-9677-a4cdc7ce5db7"},"name":{"type":"string","example":"Customer1"}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n      type: 'GET',\n      url: 'https://api.projectmanager.com/api/v3/projectdata/customers',\n      headers: {'apiKey': '[yourApiKey]'}\n}).done(function(data) {\n\t\t\tlog(data);\n});"}],"samples-languages":["javascript"]}}},"/projectdata/managers":{"get":{"summary":"Project Managers","description":"This will give you a list of everyone who can be set as the manager of a project, generally this will be any resources with the Manager or Admin role.","operationId":"get-managers","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": \"953f6497-4d34-4105-8d85-6b6c90bee238\",\n      \"name\": \"Dave Smith\"\n    }\n  ],\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"953f6497-4d34-4105-8d85-6b6c90bee238"},"name":{"type":"string","example":"Dave Smith"}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n      type: 'GET',\n      url: 'https://api.projectmanager.com/api/v3/projectdata/managers',\n      headers: {'apiKey': '[yourApiKey]'}\n}).done(function(data) {\n\t\t\tlog(data);\n});"}],"samples-languages":["javascript"]}}},"/resource/{resourceid}/assignedprojects":{"get":{"summary":"Resource Assigned Projects","description":"","operationId":"assigned-projects","parameters":[{"name":"resourceid","in":"path","description":"The resourceid of the resource you wish to retrieve assigned projects from.  Example 953f6497-4d34-4105-8d85-6b6c90bee238","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\"data\":[{\"status\":\"Open\",\"authorised\":true,\"due\":\"2019-04-11T23:59:59\",\"id\":\"a86eb63a-7941-4202-9ebd-118d60e42c6f\",\"name\":\"API_Project01\"},{\"status\":\"Open\",\"authorised\":true,\"due\":\"2019-04-11T23:59:59\",\"id\":\"74b3738b-d4a4-4f8c-b250-d449756959fb\",\"name\":\"API_Project02\"}],\"success\":true,\"message\":null,\"friendlyMessage\":null,\"exceptionType\":null,\"logout\":false}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"Open"},"authorised":{"type":"boolean","example":true,"default":true},"due":{"type":"string","example":"2019-04-11T23:59:59"},"id":{"type":"string","example":"a86eb63a-7941-4202-9ebd-118d60e42c6f"},"name":{"type":"string","example":"API_Project01"}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n      type: 'GET',\n      url: 'https://api.projectmanager.com/api/v3/resource/[resourceid]/assignedprojects',\n      headers: {'apiKey': '[yourApiKey]'}\n}).done(function(data) {\n\t\t\tlog(data);\n});"}],"samples-languages":["javascript"]}}},"/resource/list":{"get":{"summary":"Resource List","description":"","operationId":"get-resources","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\"data\":[{\"hourRate\":null,\"shortName\":\"MS\",\"id\":\"ff9128c6-aa24-4e03-bfc2-2ffd8b63e256\",\"name\":\"Mike Smith (Sample)\"},{\"hourRate\":null,\"shortName\":\"JS\",\"id\":\"c800ad23-0104-4607-8340-621524eb8daa\",\"name\":\"Jennifer Jones (Sample)\"},{\"hourRate\":null,\"shortName\":\"SW\",\"id\":\"3e41b389-ff9f-4515-92c8-aa2acc601099\",\"name\":\"Sam Watson (Sample)\"}],\"success\":true,\"message\":null,\"friendlyMessage\":null,\"exceptionType\":null,\"logout\":false}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"hourRate":{},"shortName":{"type":"string","example":"MS"},"id":{"type":"string","example":"ff9128c6-aa24-4e03-bfc2-2ffd8b63e256"},"name":{"type":"string","example":"Mike Smith (Sample)"}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n      type: 'GET',\n      url: 'https://api.projectmanager.com/api/v3/resource/list',\n      headers: {'apiKey': '[yourApiKey]'}\n}).done(function(data) {\n\t\t\tlog(data);\n});"}],"samples-languages":["javascript"]}}},"/projectdata/priorities":{"get":{"summary":"Project Priorities","description":"Get a list of all available project priorities.","operationId":"get-priorities","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": \"d41ac13c-6784-4d4b-873c-53ed1284eda3\",\n      \"name\": \"Unimportant\"\n    },\n    {\n      \"id\": \"35931c0d-ee55-4535-854d-9e993685a8d6\",\n      \"name\": \"Critical\"\n    },\n    {\n      \"id\": \"56a55000-afe1-40f1-b9a4-a26e1545614a\",\n      \"name\": \"Non-Critical\"\n    },\n    {\n      \"id\": \"b7bfece9-e212-4a12-add1-b99eceb13121\",\n      \"name\": \"Important\"\n    },\n    {\n      \"id\": \"2c6e43c5-fde7-4836-87fe-eeb550cd923c\",\n      \"name\": \"Very Important\"\n    }\n  ],\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"d41ac13c-6784-4d4b-873c-53ed1284eda3"},"name":{"type":"string","example":"Unimportant"}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n  type: 'GET',\n  url: 'https://api.projectmanager.com/api/v3/projectdata/priorities',\n  headers: {'apiKey': '[yourApiKey]'}\n}).done(function(data) {\n  log(data);\n});"}],"samples-languages":["javascript"]}}},"/timesheet/{timesheetid}":{"put":{"summary":"Timesheet Update","description":"Update a single timesheet entry","operationId":"update-timesheet","parameters":[{"name":"timesheetid","in":"path","description":"Id of the specific timesheet entry on a specific date","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["hours"],"properties":{"hours":{"type":"number","description":"The number of hours to log","format":"double"},"name":{"type":"string","description":"A note about this timesheet entry"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"name\": \"A bit longer than expected, needed to reinstall the VM\",\n        \"hours\": 1.25\n    },\n    \"success\": true,\n    \"message\": null,\n    \"friendlyMessage\": null,\n    \"exceptionType\": null,\n    \"logout\": false,\n    \"errorLogged\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"name":{"type":"string","example":"A bit longer than expected, needed to reinstall the VM"},"hours":{"type":"number","example":1.25,"default":0}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true},"errorLogged":{"type":"boolean","example":false,"default":true}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"var settings = {\n  \"url\": \"https://api.projectmanager.com/api/v3/timesheet/{timesheetid}\",\n  \"method\": \"PUT\",\n  \"headers\": {\n    \"apiKey\": \"3c0dccb0-1205-4065-8b8e-90e1411be81d\",\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n  },\n  \"data\": {\n    \"hours\": \"1.25\",\n    \"name\": \"A bit longer than expected, needed to reinstall the VM\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});","name":"jQuery"},{"language":"javascript","code":"var myHeaders = new Headers();\nmyHeaders.append(\"apiKey\", \"[yourApiKey]\");\nmyHeaders.append(\"Content-Type\", \"application/x-www-form-urlencoded\");\n\nvar urlencoded = new URLSearchParams();\nurlencoded.append(\"hours\", \"1.25\");\nurlencoded.append(\"name\", \"A bit longer than expected, needed to reinstall the VM\");\n\nvar requestOptions = {\n  method: 'PUT',\n  headers: myHeaders,\n  body: urlencoded,\n  redirect: 'follow'\n};\n\nfetch(\"https://api.projectmanager.com/api/v3/timesheet/:timesheetid\", requestOptions)\n  .then(response => response.text())\n  .then(result => console.log(result))\n  .catch(error => console.log('error', error));","name":"JS Fetch"}],"samples-languages":["javascript"]}},"delete":{"summary":"Timesheet Delete","description":"Delete a single timesheet entry","operationId":"timesheet-delete","parameters":[{"name":"timesheetid","in":"path","description":"The timesheetid of the timesheet you wish to delete","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}}},"deprecated":false},"get":{"summary":"Timesheet Details","description":"Returns the details of a single timesheet entry","operationId":"timesheet-get","parameters":[{"name":"timesheetid","in":"path","description":"The timesheetid of the timesheet you wish to get","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"adminTypeId\": null,\n    \"date\": \"2022-01-21T00:00:00\",\n    \"hours\": 1.5,\n    \"projectId\": \"c6be8a85-fec2-480c-81a2-7edeb4901526\",\n    \"taskId\": \"96e6df20-2948-48e9-b953-cfb2f7f1ddc9\",\n    \"resourceId\": \"d5b29cff-2cef-430a-9269-3d88d362b4dc\",\n    \"id\": \"2ee08d37-cd28-4542-9dde-2ac182130543\",\n    \"name\": null\n  },\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false,\n  \"errorLogged\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"adminTypeId":{},"date":{"type":"string","example":"2022-01-21T00:00:00"},"hours":{"type":"number","example":1.5,"default":0},"projectId":{"type":"string","example":"c6be8a85-fec2-480c-81a2-7edeb4901526"},"taskId":{"type":"string","example":"96e6df20-2948-48e9-b953-cfb2f7f1ddc9"},"resourceId":{"type":"string","example":"d5b29cff-2cef-430a-9269-3d88d362b4dc"},"id":{"type":"string","example":"2ee08d37-cd28-4542-9dde-2ac182130543"},"name":{}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true},"errorLogged":{"type":"boolean","example":false,"default":true}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"var settings = {\n  \"url\": \"https://api.projectmanager.com/api/v3/timesheet/{timesheetid}\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"apiKey\": \"[apiKey]\"\n  },\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});","name":"jQuery"},{"language":"javascript","code":"var myHeaders = new Headers();\nmyHeaders.append(\"apiKey\", \"[yourApiKey]\");\n\nvar requestOptions = {\n  method: 'GET',\n  headers: myHeaders,\n  redirect: 'follow'\n};\n\nfetch(\"https://api.projectmanager.com/api/v3/timesheet/:timesheetid\", requestOptions)\n  .then(response => response.text())\n  .then(result => console.log(result))\n  .catch(error => console.log('error', error));","name":"JS Fetch"}],"samples-languages":["javascript"]}}},"/board/{boardid}":{"put":{"summary":"Update Board","description":"⚠️Deprecated: Change a single column within a board","operationId":"update-board","parameters":[{"name":"boardid","in":"path","description":"A specific column within the project board. Get the boardid from \"Get Project Board\" API endpoint. Eg: `c9372e52-6307-4bb2-8156-e8aa85ba9037`","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["columnid"],"properties":{"name":{"type":"string","description":"A name for the new board column"},"order":{"type":"integer","description":"The order the column should appear on the board","format":"int32"},"columnid":{"type":"string","description":"The columnid of the column you wish to change"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"tasks\": [\n      {\n        \"plannedFinish\": \"2019-05-31T23:59:59\",\n        \"assignments\": [],\n        \"percentComplete\": 0,\n        \"priority\": 500,\n        \"projectId\": \"18e1e825-e793-4afa-a9b4-d3d816c7dc4d\",\n        \"projectName\": \"My First Project\",\n        \"shortId\": \"MFP-1\",\n        \"notes\": \"\",\n        \"actualEffort\": 684.0,\n        \"order\": 0,\n        \"rank\": 0,\n        \"actualEffortFormat\": \"H\",\n        \"plannedEffort\": null,\n        \"plannedEffortFormat\": \"H\",\n        \"plannedStart\": \"2019-05-31T00:00:00\",\n        \"discussionData\": {\n          \"count\": 0,\n          \"lastUpdatedDate\": null,\n          \"isRead\": false\n        },\n        \"fileData\": {\n          \"count\": 0,\n          \"lastUpdatedDate\": null,\n          \"isRead\": false\n        },\n        \"notesData\": {\n          \"count\": 0,\n          \"lastUpdatedDate\": null,\n          \"isRead\": false\n        },\n        \"version\": 3,\n        \"createDate\": \"2019-05-30T23:06:10\",\n        \"isNewInList\": false,\n        \"owner\": null,\n        \"customs\": null,\n        \"id\": \"68ec454e-48b0-4ddc-866d-19e9c4854e10\",\n        \"name\": \"task1\"\n      },\n      {\n        \"plannedFinish\": \"2019-05-31T23:59:59\",\n        \"assignments\": [],\n        \"percentComplete\": 0,\n        \"priority\": 500,\n        \"projectId\": \"18e1e825-e793-4afa-a9b4-d3d816c7dc4d\",\n        \"projectName\": \"My First Project\",\n        \"shortId\": \"MFP-2\",\n        \"notes\": \"\",\n        \"actualEffort\": 0.0,\n        \"order\": 1,\n        \"rank\": 1,\n        \"actualEffortFormat\": \"H\",\n        \"plannedEffort\": null,\n        \"plannedEffortFormat\": \"H\",\n        \"plannedStart\": \"2019-05-31T00:00:00\",\n        \"discussionData\": {\n          \"count\": 0,\n          \"lastUpdatedDate\": null,\n          \"isRead\": false\n        },\n        \"fileData\": {\n          \"count\": 0,\n          \"lastUpdatedDate\": null,\n          \"isRead\": false\n        },\n        \"notesData\": {\n          \"count\": 0,\n          \"lastUpdatedDate\": null,\n          \"isRead\": false\n        },\n        \"version\": 1,\n        \"createDate\": \"2019-05-30T23:06:11\",\n        \"isNewInList\": false,\n        \"owner\": null,\n        \"customs\": null,\n        \"id\": \"9edbcd78-6a07-45ea-9af0-1ca4ca6a5d66\",\n        \"name\": \"task2\"\n      },\n      {\n        \"plannedFinish\": \"2019-05-31T23:59:59\",\n        \"assignments\": [],\n        \"percentComplete\": 0,\n        \"priority\": 500,\n        \"projectId\": \"18e1e825-e793-4afa-a9b4-d3d816c7dc4d\",\n        \"projectName\": \"My First Project\",\n        \"shortId\": \"MFP-3\",\n        \"notes\": \"\",\n        \"actualEffort\": 0.0,\n        \"order\": 2,\n        \"rank\": 2,\n        \"actualEffortFormat\": \"H\",\n        \"plannedEffort\": null,\n        \"plannedEffortFormat\": \"H\",\n        \"plannedStart\": \"2019-05-31T00:00:00\",\n        \"discussionData\": {\n          \"count\": 0,\n          \"lastUpdatedDate\": null,\n          \"isRead\": false\n        },\n        \"fileData\": {\n          \"count\": 0,\n          \"lastUpdatedDate\": null,\n          \"isRead\": false\n        },\n        \"notesData\": {\n          \"count\": 0,\n          \"lastUpdatedDate\": null,\n          \"isRead\": false\n        },\n        \"version\": 1,\n        \"createDate\": \"2019-05-30T23:06:12\",\n        \"isNewInList\": false,\n        \"owner\": null,\n        \"customs\": null,\n        \"id\": \"2f6f3117-5a30-49cb-9b99-a0edb1053cb3\",\n        \"name\": \"task3\"\n      }\n    ],\n    \"order\": 3,\n    \"readOnly\": false,\n    \"count\": 3,\n    \"id\": \"c9372e52-6307-4bb2-8276-e8aa85ba9037\",\n    \"name\": \"RenamedFromAPI\"\n  },\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false\n}\n\n"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"tasks":{"type":"array","items":{"type":"object","properties":{"plannedFinish":{"type":"string","example":"2019-05-31T23:59:59"},"assignments":{"type":"array"},"percentComplete":{"type":"integer","example":0,"default":0},"priority":{"type":"integer","example":500,"default":0},"projectId":{"type":"string","example":"18e1e825-e793-4afa-a9b4-d3d816c7dc4d"},"projectName":{"type":"string","example":"My First Project"},"shortId":{"type":"string","example":"MFP-1"},"notes":{"type":"string","example":""},"actualEffort":{"type":"integer","example":684,"default":0},"order":{"type":"integer","example":0,"default":0},"rank":{"type":"integer","example":0,"default":0},"actualEffortFormat":{"type":"string","example":"H"},"plannedEffort":{},"plannedEffortFormat":{"type":"string","example":"H"},"plannedStart":{"type":"string","example":"2019-05-31T00:00:00"},"discussionData":{"type":"object","properties":{"count":{"type":"integer","example":0,"default":0},"lastUpdatedDate":{},"isRead":{"type":"boolean","example":false,"default":true}}},"fileData":{"type":"object","properties":{"count":{"type":"integer","example":0,"default":0},"lastUpdatedDate":{},"isRead":{"type":"boolean","example":false,"default":true}}},"notesData":{"type":"object","properties":{"count":{"type":"integer","example":0,"default":0},"lastUpdatedDate":{},"isRead":{"type":"boolean","example":false,"default":true}}},"version":{"type":"integer","example":3,"default":0},"createDate":{"type":"string","example":"2019-05-30T23:06:10"},"isNewInList":{"type":"boolean","example":false,"default":true},"owner":{},"customs":{},"id":{"type":"string","example":"68ec454e-48b0-4ddc-866d-19e9c4854e10"},"name":{"type":"string","example":"task1"}}}},"order":{"type":"integer","example":3,"default":0},"readOnly":{"type":"boolean","example":false,"default":true},"count":{"type":"integer","example":3,"default":0},"id":{"type":"string","example":"c9372e52-6307-4bb2-8276-e8aa85ba9037"},"name":{"type":"string","example":"RenamedFromAPI"}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n      type: 'PUT',\n      url: 'https://api.projectmanager.com/api/v3/board/{boardid}',\n      headers: {'apiKey': '[yourApiKey]'},\n  \t\tdata: {name: 'A new board name', order:3}\n}).done(function(data) {\n\t\t\tlog(data);\n});"}],"samples-languages":["javascript"]}}},"/resource/{resourceid}":{"delete":{"summary":"Resource Delete","description":"","operationId":"resource-delete","parameters":[{"name":"resourceid","in":"path","description":"The id of the resource you wish to update, eg: `3479da8b-c628-46e2-9ec3-3a37ffff0272`","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\"success\":true,\"message\":null,\"friendlyMessage\":null,\"exceptionType\":null,\"logout\":false}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n      type: 'DELETE',\n      url: 'https://api.projectmanager.com/api/v3/resource/{resourceid}',\n      headers: {'apiKey': '[yourApiKey]'}\n}).done(function(data) {\n\t\t\tlog(data);\n});"}],"samples-languages":["javascript"]}},"post":{"summary":"Resource Update","description":"","operationId":"resource-update","parameters":[{"name":"resourceid","in":"path","description":"The id of the resource you wish to update, eg: `3479da8b-c628-46e2-9ec3-3a37ffff0272`","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the person or resource"},"shortname":{"type":"string","description":"Short name of the person or resource"},"hourrate":{"type":"number","description":"Hourly rate of the person or resource","format":"double"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\"data\":{\"hourRate\":21.5,\"shortName\":\"Jarred\",\"id\":\"3479da8b-c628-46e2-9ec3-3a38ffff0272\",\"name\":\"Jarred Smith\"},\"success\":true,\"message\":null,\"friendlyMessage\":null,\"exceptionType\":null,\"logout\":false}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"hourRate":{"type":"number","example":21.5,"default":0},"shortName":{"type":"string","example":"Jarred"},"id":{"type":"string","example":"3479da8b-c628-46e2-9ec3-3a38ffff0272"},"name":{"type":"string","example":"Jarred Smith"}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n      type: 'PUT',\n      url: 'https://api.projectmanager.com/api/v3/resource/{resourceid}',\n      headers: {'apiKey': '[yourApiKey]'},\n  \t\tdata: {\n        \"hourRate\": 21.5,\n        \"shortName\": \"Jarred\",\n        \"name\": \"Jarred Smith\"\n      }\n}).done(function(data) {\n\t\t\tlog(data);\n});"}],"samples-languages":["javascript"]}}},"/resource/{resourceid}/timesheets":{"get":{"summary":"Timesheets by Resource","description":"Lists all all timesheet entries for a particular resource (user)","operationId":"timesheets-by-resource","parameters":[{"name":"resourceid","in":"path","description":"The timesheetid of the timesheet you wish to get","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"adminTypeId\": null,\n      \"date\": \"2022-01-19T00:00:00\",\n      \"hours\": 6.5,\n      \"projectId\": \"92753505-7417-4c14-8ab6-1f56db8db53e\",\n      \"taskId\": \"9c8583b1-277e-4a20-b38e-6b5384e64f7c\",\n      \"resourceId\": \"d5b29cff-2cef-430a-9269-3d88d362b4dc\",\n      \"id\": \"257cfe90-af23-43c3-ac5b-0acdc69351bf\",\n      \"name\": null\n    },\n    {\n      \"adminTypeId\": null,\n      \"date\": \"2022-04-21T00:00:00\",\n      \"hours\": 3,\n      \"projectId\": \"c6be8a85-fec2-480c-81a2-7edeb4901526\",\n      \"taskId\": \"303c2fa3-0721-41d1-9f95-753c17e6987e\",\n      \"resourceId\": \"d5b29cff-2cef-430a-9269-3d88d362b4dc\",\n      \"id\": \"111971d4-a8ee-489f-8b42-19dc791e8a6e\",\n      \"name\": null\n    }\n  ],\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false,\n  \"errorLogged\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"adminTypeId":{},"date":{"type":"string","example":"2022-01-19T00:00:00"},"hours":{"type":"number","example":6.5,"default":0},"projectId":{"type":"string","example":"92753505-7417-4c14-8ab6-1f56db8db53e"},"taskId":{"type":"string","example":"9c8583b1-277e-4a20-b38e-6b5384e64f7c"},"resourceId":{"type":"string","example":"d5b29cff-2cef-430a-9269-3d88d362b4dc"},"id":{"type":"string","example":"257cfe90-af23-43c3-ac5b-0acdc69351bf"},"name":{}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true},"errorLogged":{"type":"boolean","example":false,"default":true}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"var settings = {\n  \"url\": \"https://api.projectmanager.com/api/v3/resource/{resourceid}/timesheets\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"apiKey\": \"[yourApiKey]\"\n  },\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});","name":"jQuery"},{"language":"javascript","code":"var myHeaders = new Headers();\nmyHeaders.append(\"apiKey\", \"[yourApiKey]\");\n\nvar requestOptions = {\n  method: 'GET',\n  headers: myHeaders,\n  redirect: 'follow'\n};\n\nfetch(\"https://api.projectmanager.com/api/v3/resource/:resourceid/timesheets\", requestOptions)\n  .then(response => response.text())\n  .then(result => console.log(result))\n  .catch(error => console.log('error', error));","name":"JS Fetch"}],"samples-languages":["javascript"]}}},"/resource/create":{"post":{"summary":"Resource Create","description":"","operationId":"resource-create","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the person or resource"},"shortname":{"type":"string","description":"Short name of the person or resource"},"hourrate":{"type":"number","description":"Hourly rate of the person or resource","format":"double"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\"data\":{\"hourRate\":10.0,\"shortName\":\"JS\",\"id\":\"3479da8b-c628-46e2-9ec3-3a38ffff0272\",\"name\":\"Jarred Smith\"},\"success\":true,\"message\":null,\"friendlyMessage\":null,\"exceptionType\":null,\"logout\":false}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"hourRate":{"type":"integer","example":10,"default":0},"shortName":{"type":"string","example":"JS"},"id":{"type":"string","example":"3479da8b-c628-46e2-9ec3-3a38ffff0272"},"name":{"type":"string","example":"Jarred Smith"}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n      type: 'PUT',\n      url: 'https://api.projectmanager.com/api/v3/resource/create',\n      headers: {'apiKey': '[yourApiKey]'},\n  \t\tdata: {\n        \"hourRate\": 10,\n        \"shortName\": \"Jarred\",\n        \"name\": \"Jarred Smith\"\n      }\n}).done(function(data) {\n\t\t\tlog(data);\n});\n\n"}],"samples-languages":["javascript"]}}},"/task/{taskid}":{"delete":{"summary":"Task Delete","description":"","operationId":"task-delete","parameters":[{"name":"taskid","in":"path","description":"Id of the task you wish to delete","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\"data\":true,\"success\":true,\"message\":null,\"friendlyMessage\":null,\"exceptionType\":null,\"logout\":false}"}},"schema":{"type":"object","properties":{"data":{"type":"boolean","example":true,"default":true},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n      type: \"DELETE\",\n      url: \"https://api.projectmanager.com/api/v3/task/\" + taskId, \n      contentType: 'application/json', \n      dataTypet: \"json\",\n      success: worked ,            \n      headers: { apiKey: apiKey }\n });"}],"samples-languages":["javascript"]}},"put":{"summary":"Task Update","description":"Updating an existing task","operationId":"task-update","parameters":[{"name":"taskid","in":"path","description":"The taskid of the task you wish to edit","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","description":"An array of properties you wish to change"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"changeSets\": [\n      {\n        \"property\": \"percentComplete\",\n        \"value\": 25,\n        \"id\": null\n      },\n      {\n        \"property\": \"priority\",\n        \"value\": 4,\n        \"id\": null\n      }\n    ]\n  },\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false,\n  \"errorLogged\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"changeSets":{"type":"array","items":{"type":"object","properties":{"property":{"type":"string","example":"percentComplete"},"value":{"type":"integer","example":25,"default":0},"id":{}}}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true},"errorLogged":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n  type: \"POST\",\n  url: \"https://api.projectmanager.com/api/v3/task/create\", \n  contentType: 'application/json', \n  dataTypet: \"json\",\n  success: worked ,            \n  headers: { apiKey: apiKey },\n  data: {[\n    {\"property\":\"percentComplete\", \"value\":25},\n    {\"property\":\"priority\", \"value\":4},\n  ]}\n});"}],"samples-languages":["javascript"]}},"get":{"summary":"Task Details","description":"Get information about a task","operationId":"task-details","parameters":[{"name":"taskid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"actualEffort\": 270,\n    \"assignments\": [\n      {\n        \"initials\": \"AS\",\n        \"color\": \"6CD5FA\",\n        \"id\": \"fe14095b-deff-479c-936b-b79c4557e6fd\",\n        \"name\": \"Andi Spare\"\n      }\n    ],\n    \"createDate\": \"2020-05-13T02:55:34\",\n    \"notes\": \"<p>Everything you need to decribe the task can be listed here.</p>\",\n    \"owner\": {\n      \"initials\": \"AS\",\n      \"color\": \"6CD5FA\",\n      \"id\": \"fe14095b-deff-479c-936b-b79c4557e6fd\",\n      \"name\": \"Andi Spare\"\n    },\n    \"plannedEffort\": 0,\n    \"plannedFinish\": \"2020-05-19T23:59:59\",\n    \"plannedStart\": \"2020-05-14T00:00:00\",\n    \"projectId\": \"37082b0a-6b53-41ab-881f-1effe7a8ad55\",\n    \"projectName\": \"Team Project\",\n    \"shortId\": \"TP-2\",\n    \"version\": 4,\n    \"priority\": {\n      \"name\": \"Medium\",\n      \"value\": 500\n    },\n    \"progress\": {\n      \"name\": \"Done\",\n      \"value\": 100\n    },\n    \"id\": \"cab448dc-f617-49e7-931c-e24831c601f9\",\n    \"name\": \"On-Site Meetings\"\n  },\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false,\n  \"errorLogged\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"actualEffort":{"type":"integer","example":270,"default":0},"assignments":{"type":"array","items":{"type":"object","properties":{"initials":{"type":"string","example":"AS"},"color":{"type":"string","example":"6CD5FA"},"id":{"type":"string","example":"fe14095b-deff-479c-936b-b79c4557e6fd"},"name":{"type":"string","example":"Andi Spare"}}}},"createDate":{"type":"string","example":"2020-05-13T02:55:34"},"notes":{"type":"string","example":"<p>Everything you need to decribe the task can be listed here.</p>"},"owner":{"type":"object","properties":{"initials":{"type":"string","example":"AS"},"color":{"type":"string","example":"6CD5FA"},"id":{"type":"string","example":"fe14095b-deff-479c-936b-b79c4557e6fd"},"name":{"type":"string","example":"Andi Spare"}}},"plannedEffort":{"type":"integer","example":0,"default":0},"plannedFinish":{"type":"string","example":"2020-05-19T23:59:59"},"plannedStart":{"type":"string","example":"2020-05-14T00:00:00"},"projectId":{"type":"string","example":"37082b0a-6b53-41ab-881f-1effe7a8ad55"},"projectName":{"type":"string","example":"Team Project"},"shortId":{"type":"string","example":"TP-2"},"version":{"type":"integer","example":4,"default":0},"priority":{"type":"object","properties":{"name":{"type":"string","example":"Medium"},"value":{"type":"integer","example":500,"default":0}}},"progress":{"type":"object","properties":{"name":{"type":"string","example":"Done"},"value":{"type":"integer","example":100,"default":0}}},"id":{"type":"string","example":"cab448dc-f617-49e7-931c-e24831c601f9"},"name":{"type":"string","example":"On-Site Meetings"}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true},"errorLogged":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n  type: 'GET',\n  url: 'https://api.projectmanager.com/api/v3/task/{taskid}',\n  headers: {'apiKey': '{apikey}'}\n}).done(function(data) {\n  log(data);\n});","name":"jQuery"}],"samples-languages":["javascript"]}}},"/task/create":{"post":{"summary":"Task Create","description":"Add a new task to a project","operationId":"task-create","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","projectId"],"properties":{"name":{"type":"string","description":"Name of the task"},"projectId":{"type":"string","description":"The ID of the project you wish to add the task to"},"plannedStart":{"type":"string","description":"Planned start date of the task, eg: 2019-06-09T00:24:50.958Z","format":"date"},"plannedFinish":{"type":"string","description":"Planned finish date of the task, eg: 2019-06-09T00:24:50.958Z","format":"date"},"percentComplete":{"type":"number","description":"Task percent complete","format":"double"},"priority":{"type":"integer","description":"Task priority level","format":"int32"},"actualEffort":{"type":"number","description":"Hours of actual effort logged to this task","format":"double"},"plannedEffort":{"type":"number","description":"Hours of planned effort logged to this task","format":"double"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"name\": \"Meet With Stakeholders (from API)\",\n    \"id\": \"bc82c03d-7094-4501-b313-ca6b6569c353\",\n    \"shortId\": \"PM-1\",\n    \"projectId\": \"dd82af3f-c892-4839-a310-53d592ba0f06\",\n    \"plannedStart\": \"2020-12-01T00:00:00\",\n    \"plannedFinish\": \"2020-12-14T00:00:00\",\n    \"percentComplete\": null,\n    \"priority\": 500,\n    \"plannedEffort\": null,\n    \"actualEffort\": null\n  },\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false,\n  \"errorLogged\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"name":{"type":"string","example":"Meet With Stakeholders (from API)"},"id":{"type":"string","example":"bc82c03d-7094-4501-b313-ca6b6569c353"},"shortId":{"type":"string","example":"PM-1"},"projectId":{"type":"string","example":"dd82af3f-c892-4839-a310-53d592ba0f06"},"plannedStart":{"type":"string","example":"2020-12-01T00:00:00"},"plannedFinish":{"type":"string","example":"2020-12-14T00:00:00"},"percentComplete":{},"priority":{"type":"integer","example":500,"default":0},"plannedEffort":{},"actualEffort":{}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true},"errorLogged":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n  type: \"POST\",\n  url: \"https://api.projectmanager.com/api/v3/task/create\",\n  headers: { apiKey: apiKey },\n  data: {\n  \t\"plannedFinish\": \"2019-06-05T21:23:10.764Z\",\n    \"assignments\": [\n\t\t\t{\n    \t\tid: \"bc82c03d-7094-4501-b313-ca6b6569c353\"\n    \t}\n    ],\n    \"percentComplete\": 30,\n    \"priority\": 4,\n    \"projectId\": \"ffb590cb-e742-42cb-bd48-608e501fbda9\",\n    \"taskListId\": \"ffb590cb-e742-42cb-bd48-608e501fbda9\",\n    \"notes\": \"api note for a new task\",\n    \"actualEffort\": 10.5,\n    \"plannedEffort\": 20,\n    \"plannedStart\": \"2019-06-05T21:23:10.765Z\",\n    \"name\": \"API-task01\"\n  } \n});"}],"samples-languages":["javascript"]}}},"/timesheet/create":{"post":{"summary":"Timesheet Create","description":"Record the hours a resource has spent on a task on a specific date","operationId":"timesheet-create","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["date","hours","projectId"],"properties":{"date":{"type":"string","description":"Date of the timesheet to be created, must be in ISO format"},"hours":{"type":"number","description":"The decimal value of hours to log","format":"double"},"projectId":{"type":"string","description":"The ID of the project you are logging time for"},"taskId":{"type":"string","description":"The ID of the task to log the time to, not required if you are instead using an `adminTypeId`"},"adminTypeId":{"type":"string","description":"Used to associate time with a non-task activity (such as meetings or leave), this field is required if you do not supply a `taskId`"},"resourceId":{"type":"string","description":"The ID of the resource you wish to log time for"},"name":{"type":"string","description":"This can be any text string, it's referred to as \"Notes\" in the product"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"adminTypeId\": null,\n    \"date\": \"2019-06-09T00:00:00Z\",\n    \"hours\": 1.75,\n    \"projectId\": null,\n    \"taskId\": \"302a6e29-e888-40da-9faf-bbc9a2d09ed7\",\n    \"resourceId\": \"3479da8b-c628-46e2-9ec3-3a38ffff0272\",\n    \"id\": \"d16cfce5-9fc3-457c-98a1-713b078c9c36\",\n    \"name\": \"Meeting with the client\"\n  },\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"adminTypeId":{},"date":{"type":"string","example":"2019-06-09T00:00:00Z"},"hours":{"type":"number","example":1.75,"default":0},"projectId":{},"taskId":{"type":"string","example":"302a6e29-e888-40da-9faf-bbc9a2d09ed7"},"resourceId":{"type":"string","example":"3479da8b-c628-46e2-9ec3-3a38ffff0272"},"id":{"type":"string","example":"d16cfce5-9fc3-457c-98a1-713b078c9c36"},"name":{"type":"string","example":"Meeting with the client"}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n      type: 'POST',\n      url: 'https://api.projectmanager.com/api/v3/timesheet/create',\n      headers: {'apiKey': '[yourApiKey]'},\n  \t\tdata: {\n        \"date\": \"2019-06-09T00:24:51.317Z\",\n        \"hours\": 1.75,\n        \"taskId\": \"302a6e29-e888-40da-9faf-bbc9a2d09ed7\",\n        \"resourceId\": \"3479da8b-c628-46e2-9ec3-3a38ffff0272\",\n        \"name\": \"Meeting with the client\"\n}\n}).done(function(data) {\n\t\t\tlog(data);\n});","name":"jQuery"}],"samples-languages":["javascript"]}}},"/task/{taskid}/files":{"get":{"summary":"Task Files","description":"","operationId":"task-files","parameters":[{"name":"taskid","in":"path","description":"The taskid of the task you wish to list the files of","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"url\": \"https://software.projectmanager.com/Share/Public/UserFile.aspx?hid={0xc4f334b5,0xda18,0x4a8e,{0xbd,0x56,0x1b,0xa2,0x4b,0x96,0x62,0x7f}}&bid=a431c58f-98e4-42d1-af07-aa4d33b77a33\",\n      \"id\": \"c4f334b5-da18-4a8e-bd56-1ba24b96627f\",\n      \"name\": \"exampleFile.png\"\n    }\n  ],\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","example":"https://software.projectmanager.com/Share/Public/UserFile.aspx?hid={0xc4f334b5,0xda18,0x4a8e,{0xbd,0x56,0x1b,0xa2,0x4b,0x96,0x62,0x7f}}&bid=a431c58f-98e4-42d1-af07-aa4d33b77a33"},"id":{"type":"string","example":"c4f334b5-da18-4a8e-bd56-1ba24b96627f"},"name":{"type":"string","example":"exampleFile.png"}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n  type: 'GET',\n  url: 'https://api.projectmanager.com/api/v3/task/[taskId]/files',\n  headers: {'apiKey': '[yourApiKey]'}\n}).done(function(data) {\n  log(data);\n});","name":"jQuery"}],"samples-languages":["javascript"]}}},"/project/{project_id}/tasks":{"get":{"summary":"Project Task List","description":"Returns all the tasks in a project","operationId":"project-tasks","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"priority\": {\n        \"name\": \"Medium\",\n        \"value\": 500\n      },\n      \"progress\": {\n        \"name\": \"Not Started\",\n        \"value\": 0\n      },\n      \"id\": \"1014dd7a-c31b-4284-a087-58b7d474b51f\",\n      \"name\": \"Create Design Specification\"\n    },\n    {\n      \"priority\": {\n        \"name\": \"Medium\",\n        \"value\": 500\n      },\n      \"progress\": {\n        \"name\": \"Started\",\n        \"value\": 25\n      },\n      \"id\": \"139116e1-3d0d-4f3d-bbb9-40ddedd3a5bd\",\n      \"name\": \"Document Current Systems\"\n    },\n    {\n      \"priority\": {\n        \"name\": \"High\",\n        \"value\": 700\n      },\n      \"progress\": {\n        \"name\": \"Halfway Done\",\n        \"value\": 50\n      },\n      \"id\": \"3a3dac55-4478-409d-95c7-22576f4266ab\",\n      \"name\": \"Bug 1\"\n    }\n  ],\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false,\n  \"errorLogged\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"priority":{"type":"object","properties":{"name":{"type":"string","example":"Medium"},"value":{"type":"integer","example":500,"default":0}}},"progress":{"type":"object","properties":{"name":{"type":"string","example":"Not Started"},"value":{"type":"integer","example":0,"default":0}}},"id":{"type":"string","example":"1014dd7a-c31b-4284-a087-58b7d474b51f"},"name":{"type":"string","example":"Create Design Specification"}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true},"errorLogged":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/project/{project_id}/nestedtasks":{"get":{"summary":"Project Task Nested","description":"Similar to Project Task List but child tasks are nested under their parents. This is useful if you want to see tasks in the way they appear on the gantt chart. Note that parent tasks are considered to be summaries of their children, you can not modify their values directly.","operationId":"project-tasks-nested","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": [\n        {\n            \"children\": [\n                {\n                    \"children\": [],\n                    \"priority\": {\n                        \"name\": \"Medium\",\n                        \"value\": 500\n                    },\n                    \"progress\": {\n                        \"name\": \"Done\",\n                        \"value\": 100\n                    },\n                    \"id\": \"cab448dc-f617-49e7-931c-e24831c601f9\",\n                    \"name\": \"On-Site Meetings\"\n                },\n                {\n                    \"children\": [\n                        {\n                            \"children\": [],\n                            \"priority\": {\n                                \"name\": \"Medium\",\n                                \"value\": 500\n                            },\n                            \"progress\": {\n                                \"name\": \"Done\",\n                                \"value\": 100\n                            },\n                            \"id\": \"e9a2f20b-54aa-4f1f-a2f1-a73be4db3d28\",\n                            \"name\": \"Stakeholder Requirement 1\"\n                        },\n                        {\n                            \"children\": [],\n                            \"priority\": {\n                                \"name\": \"Medium\",\n                                \"value\": 500\n                            },\n                            \"progress\": {\n                                \"name\": \"Done\",\n                                \"value\": 100\n                            },\n                            \"id\": \"ca260ce3-df21-47c6-a0de-9bd9aac7eb92\",\n                            \"name\": \"Stakeholder Requirement 2\"\n                        },\n                        {\n                            \"children\": [],\n                            \"priority\": {\n                                \"name\": \"Medium\",\n                                \"value\": 500\n                            },\n                            \"progress\": {\n                                \"name\": \"Done\",\n                                \"value\": 100\n                            },\n                            \"id\": \"656b89c0-7a18-4e2a-b2c8-a675c479495f\",\n                            \"name\": \"Customer Requirement 1\"\n                        }\n                    ],\n                    \"priority\": {\n                        \"name\": \"Medium\",\n                        \"value\": 500\n                    },\n                    \"progress\": {\n                        \"name\": \"Done\",\n                        \"value\": 100\n                    },\n                    \"id\": \"537c7db1-b4c8-41e6-9de1-22195a1f013d\",\n                    \"name\": \"Discussions with Stakeholders\"\n                },\n                {\n                    \"children\": [],\n                    \"priority\": {\n                        \"name\": \"Medium\",\n                        \"value\": 500\n                    },\n                    \"progress\": {\n                        \"name\": \"Started\",\n                        \"value\": 25\n                    },\n                    \"id\": \"139116e1-3d0d-4f3d-bbb9-40ddedd3a5bd\",\n                    \"name\": \"Document Current Systems\"\n                },\n                {\n                    \"children\": [],\n                    \"priority\": {\n                        \"name\": \"Medium\",\n                        \"value\": 500\n                    },\n                    \"progress\": {\n                        \"name\": \"Not Started\",\n                        \"value\": 0\n                    },\n                    \"id\": \"584f1093-e8ef-4329-ad91-5bf94e8c3382\",\n                    \"name\": \"Analysis Complete\"\n                }\n            ],\n            \"priority\": {\n                \"name\": \"Medium\",\n                \"value\": 500\n            },\n            \"progress\": {\n                \"name\": \"Halfway Done\",\n                \"value\": 52\n            },\n            \"id\": \"cf5f8f03-4dbd-4113-b585-c1fdeb69ab77\",\n            \"name\": \"1. Analysis\"\n        },\n        {\n            \"children\": [\n                {\n                    \"children\": [],\n                    \"priority\": {\n                        \"name\": \"Medium\",\n                        \"value\": 500\n                    },\n                    \"progress\": {\n                        \"name\": \"Not Started\",\n                        \"value\": 0\n                    },\n                    \"id\": \"aedb17c9-b25f-4fc4-897d-2ef6f2ef2db0\",\n                    \"name\": \"Technical Documentation\"\n                },\n                {\n                    \"children\": [],\n                    \"priority\": {\n                        \"name\": \"Medium\",\n                        \"value\": 500\n                    },\n                    \"progress\": {\n                        \"name\": \"Not Started\",\n                        \"value\": 0\n                    },\n                    \"id\": \"c6750c5a-eb29-47d1-b9ce-c9ac3208b418\",\n                    \"name\": \"User Documentation\"\n                },\n                {\n                    \"children\": [],\n                    \"priority\": {\n                        \"name\": \"Medium\",\n                        \"value\": 500\n                    },\n                    \"progress\": {\n                        \"name\": \"Not Started\",\n                        \"value\": 0\n                    },\n                    \"id\": \"d90625c8-1ba2-4c27-bb0e-baa4121c98b9\",\n                    \"name\": \"Project Complete\"\n                }\n            ],\n            \"priority\": {\n                \"name\": \"Medium\",\n                \"value\": 500\n            },\n            \"progress\": {\n                \"name\": \"Not Started\",\n                \"value\": 0\n            },\n            \"id\": \"23411906-e6d3-4b4c-894f-d0dc562d19cf\",\n            \"name\": \"7. Documentation\"\n        }\n    ],\n    \"success\": true,\n    \"message\": null,\n    \"friendlyMessage\": null,\n    \"exceptionType\": null,\n    \"logout\": false,\n    \"errorLogged\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"children":{"type":"array","items":{"type":"object","properties":{"children":{"type":"array"},"priority":{"type":"object","properties":{"name":{"type":"string","example":"Medium"},"value":{"type":"integer","example":500,"default":0}}},"progress":{"type":"object","properties":{"name":{"type":"string","example":"Done"},"value":{"type":"integer","example":100,"default":0}}},"id":{"type":"string","example":"cab448dc-f617-49e7-931c-e24831c601f9"},"name":{"type":"string","example":"On-Site Meetings"}}}},"priority":{"type":"object","properties":{"name":{"type":"string","example":"Medium"},"value":{"type":"integer","example":500,"default":0}}},"progress":{"type":"object","properties":{"name":{"type":"string","example":"Halfway Done"},"value":{"type":"integer","example":52,"default":0}}},"id":{"type":"string","example":"cf5f8f03-4dbd-4113-b585-c1fdeb69ab77"},"name":{"type":"string","example":"1. Analysis"}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true},"errorLogged":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n  \"url\": \"https://api.projectmanager.com/api/v3/project/{project_id}/nestedtasks\",\n  \"method\": \"GET\",\n  \"headers\": {\"apiKey\": {api_key}},\n}).done(function (response) {\n  console.log(response);\n});","name":"jQuery"}],"samples-languages":["javascript"]}}},"/task/progress":{"get":{"summary":"Task Progress","description":"When creating or updating a task, you can specify a percent complete. Percent complete can be any number between 0 and 100, however in our software we often round the progress to 25 percent increments with friendly names such as \"just started\" for 25% and \"half done\" for 50%. This endpoint returns the named progress points and their values so that your app can show the same options to the user.","operationId":"task-progress","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"name\": \"Not Started\",\n      \"value\": 0\n    },\n    {\n      \"name\": \"Started\",\n      \"value\": 25\n    },\n    {\n      \"name\": \"Halfway Done\",\n      \"value\": 50\n    },\n    {\n      \"name\": \"Almost Done\",\n      \"value\": 75\n    },\n    {\n      \"name\": \"Done\",\n      \"value\": 100\n    }\n  ],\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false,\n  \"errorLogged\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"Not Started"},"value":{"type":"integer","example":0,"default":0}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true},"errorLogged":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n  type: 'GET',\n  url: 'https://api.projectmanager.com/api/v3/task/progress',\n  headers: {'apiKey': '[yourApiKey]'}\n}).done(function(data) {\n  log(data);\n});","name":"jQuery"}],"samples-languages":["javascript"]}}},"/task/priorities":{"get":{"summary":"Task Priorities","description":"When creating or updating a task, you can specify a priority. This endpoint will give you a list of all the available task priority values.","operationId":"task-priorities","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"name\": \"None\",\n      \"value\": null\n    },\n    {\n      \"name\": \"Very Low\",\n      \"value\": 0\n    },\n    {\n      \"name\": \"Low\",\n      \"value\": 300\n    },\n    {\n      \"name\": \"Medium\",\n      \"value\": 500\n    },\n    {\n      \"name\": \"High\",\n      \"value\": 700\n    },\n    {\n      \"name\": \"Very High\",\n      \"value\": 900\n    },\n    {\n      \"name\": \"Critical\",\n      \"value\": 1000\n    }\n  ],\n  \"success\": true,\n  \"message\": null,\n  \"friendlyMessage\": null,\n  \"exceptionType\": null,\n  \"logout\": false,\n  \"errorLogged\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"None"},"value":{}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true},"errorLogged":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n  type: 'GET',\n  url: 'https://api.projectmanager.com/api/v3/task/progress',\n  headers: {'apiKey': '[yourApiKey]'}\n}).done(function(data) {\n  log(data);\n});","name":"jQuery"}],"samples-languages":["javascript"]}}},"/board/{projectid}":{"get":{"summary":"Get Board","description":"⚠️Deprecated: Fetches details of a project board","operationId":"get-project-board","parameters":[{"name":"projectid","in":"path","description":"The ID of the project you wish to fetch","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"groups\": [\n            {\n                \"order\": 0,\n                \"readOnly\": true,\n                \"count\": 29,\n                \"id\": \"68895c96-ae10-40b1-b734-490d308ad7bc\",\n                \"name\": \"To Do\"\n            },\n            {\n                \"order\": 1,\n                \"readOnly\": false,\n                \"count\": 1,\n                \"id\": \"77e5a4ba-29b4-4951-9e63-9a00cb116949\",\n                \"name\": \"Doing\"\n            },\n            {\n                \"order\": 2,\n                \"readOnly\": false,\n                \"count\": 4,\n                \"id\": \"3cddb143-8be0-4654-a724-f3ddcd6ac93a\",\n                \"name\": \"Done\"\n            }\n        ],\n        \"tasks\": [\n            {\n                \"groupId\": \"68895c96-ae10-40b1-b734-490d308ad7bc\",\n                \"hasProjectAccess\": true,\n                \"customFields\": {},\n                \"ownerId\": \"fe14095b-deff-479c-936b-b79c4557e6fd\",\n                \"lastReadDate\": \"0001-01-01T05:00:00Z\",\n                \"createDate\": \"2020-05-13T02:55:34\",\n                \"isNewInList\": true,\n                \"order\": 7,\n                \"owner\": {\n                    \"initials\": \"AS\",\n                    \"color\": \"6CD5FA\",\n                    \"firstName\": \"Andrew\",\n                    \"lastName\": \"Spear\",\n                    \"percentWork\": 0,\n                    \"resourceId\": \"fe14095b-deff-479c-936b-b79c4557e6fd\",\n                    \"userId\": \"fe14095b-deff-479c-936b-b79c4557e6fd\",\n                    \"isActive\": true,\n                    \"shortName\": \"Andrew\",\n                    \"id\": \"fe14095b-deff-479c-936b-b79c4557e6fd\",\n                    \"name\": \"Andrew Spear\"\n                },\n                \"rank\": 0,\n                \"version\": 0,\n                \"parent\": {\n                    \"id\": \"00765e86-8c58-4b90-b99d-8ad47156c6ad\",\n                    \"name\": \"2. Design\"\n                },\n                \"actualEffort\": null,\n                \"actualEffortFormat\": null,\n                \"assignments\": [\n                    {\n                        \"originalResourceId\": \"00000000-0000-0000-0000-000000000000\",\n                        \"resourceId\": \"e670bd6f-88e8-4081-b5ae-1397dcac0185\",\n                        \"percentAssignment\": 100,\n                        \"id\": \"2b2b3f67-a74b-405c-9edb-8c7e5bd1298a\",\n                        \"type\": \"pm.models.Assignment\",\n                        \"dirty\": false,\n                        \"deleted\": false,\n                        \"isNew\": false\n                    }\n                ],\n                \"name\": \"Create Design Specification\",\n                \"notes\": null,\n                \"percentComplete\": 0,\n                \"plannedEffort\": 480,\n                \"plannedEffortFormat\": null,\n                \"plannedFinish\": \"2020-07-02T23:59:59\",\n                \"plannedStart\": \"2020-06-26T00:00:00\",\n                \"priority\": 500,\n                \"projectId\": \"37082b0a-6b53-41ab-881f-1effe7a8ad55\",\n                \"projectName\": \"Team Project\",\n                \"shortId\": \"TP-13\",\n                \"extendedColumnValues\": [],\n                \"discussionData\": null,\n                \"fileData\": {\n                    \"count\": 0,\n                    \"lastUpdatedDate\": null,\n                    \"lastReadDate\": \"2020-05-13T02:55:34.1\"\n                },\n                \"notesData\": {\n                    \"count\": 0,\n                    \"lastUpdatedDate\": null,\n                    \"lastReadDate\": \"2020-05-13T02:55:34.1\"\n                },\n                \"todoes\": [],\n                \"tags\": [],\n                \"id\": \"1014dd7a-c31b-4284-a087-58b7d474b51f\",\n                \"type\": \"Common.Dto.TaskList.TaskDto\",\n                \"dirty\": false,\n                \"deleted\": false,\n                \"isNew\": false\n            },\n            {\n                \"groupId\": \"68895c96-ae10-40b1-b734-490d308ad7bc\",\n                \"hasProjectAccess\": true,\n                \"customFields\": {},\n                \"ownerId\": \"fe14095b-deff-479c-936b-b79c4557e6fd\",\n                \"lastReadDate\": \"0001-01-01T05:00:00Z\",\n                \"createDate\": \"2020-05-13T02:55:34\",\n                \"isNewInList\": true,\n                \"order\": 8,\n                \"owner\": {\n                    \"initials\": \"AS\",\n                    \"color\": \"6CD5FA\",\n                    \"firstName\": \"Andrew\",\n                    \"lastName\": \"Spear\",\n                    \"percentWork\": 0,\n                    \"resourceId\": \"fe14095b-deff-479c-936b-b79c4557e6fd\",\n                    \"userId\": \"fe14095b-deff-479c-936b-b79c4557e6fd\",\n                    \"isActive\": true,\n                    \"shortName\": \"Andrew\",\n                    \"id\": \"fe14095b-deff-479c-936b-b79c4557e6fd\",\n                    \"name\": \"Andrew Spear\"\n                },\n                \"rank\": 1,\n                \"version\": 0,\n                \"parent\": {\n                    \"id\": \"00765e86-8c58-4b90-b99d-8ad47156c6ad\",\n                    \"name\": \"2. Design\"\n                },\n                \"actualEffort\": null,\n                \"actualEffortFormat\": null,\n                \"assignments\": [\n                    {\n                        \"originalResourceId\": \"00000000-0000-0000-0000-000000000000\",\n                        \"resourceId\": \"5ce77816-f9a6-4d2f-b3ef-d58f8c58e540\",\n                        \"percentAssignment\": 100,\n                        \"id\": \"71ae804b-ab61-469a-8f67-a422feded719\",\n                        \"type\": \"pm.models.Assignment\",\n                        \"dirty\": false,\n                        \"deleted\": false,\n                        \"isNew\": false\n                    }\n                ],\n                \"name\": \"Design Complete\",\n                \"notes\": null,\n                \"percentComplete\": 0,\n                \"plannedEffort\": 0,\n                \"plannedEffortFormat\": null,\n                \"plannedFinish\": \"2020-07-02T00:00:00\",\n                \"plannedStart\": \"2020-07-02T00:00:00\",\n                \"priority\": 500,\n                \"projectId\": \"37082b0a-6b53-41ab-881f-1effe7a8ad55\",\n                \"projectName\": \"Team Project\",\n                \"shortId\": \"TP-14\",\n                \"extendedColumnValues\": [],\n                \"discussionData\": null,\n                \"fileData\": {\n                    \"count\": 0,\n                    \"lastUpdatedDate\": null,\n                    \"lastReadDate\": \"2020-05-13T02:55:34.1\"\n                },\n                \"notesData\": {\n                    \"count\": 0,\n                    \"lastUpdatedDate\": null,\n                    \"lastReadDate\": \"2020-05-13T02:55:34.1\"\n                },\n                \"todoes\": [],\n                \"tags\": [],\n                \"id\": \"e92f69c8-f093-49ad-9116-99927f4b2f3f\",\n                \"type\": \"Common.Dto.TaskList.TaskDto\",\n                \"dirty\": false,\n                \"deleted\": false,\n                \"isNew\": false\n            }\n        ],\n        \"count\": 2\n    },\n    \"success\": true,\n    \"message\": null,\n    \"friendlyMessage\": null,\n    \"exceptionType\": null,\n    \"logout\": false,\n    \"errorLogged\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"groups":{"type":"array","items":{"type":"object","properties":{"order":{"type":"integer","example":0,"default":0},"readOnly":{"type":"boolean","example":true,"default":true},"count":{"type":"integer","example":29,"default":0},"id":{"type":"string","example":"68895c96-ae10-40b1-b734-490d308ad7bc"},"name":{"type":"string","example":"To Do"}}}},"tasks":{"type":"array","items":{"type":"object","properties":{"groupId":{"type":"string","example":"68895c96-ae10-40b1-b734-490d308ad7bc"},"hasProjectAccess":{"type":"boolean","example":true,"default":true},"customFields":{"type":"object","properties":{}},"ownerId":{"type":"string","example":"fe14095b-deff-479c-936b-b79c4557e6fd"},"lastReadDate":{"type":"string","example":"0001-01-01T05:00:00Z"},"createDate":{"type":"string","example":"2020-05-13T02:55:34"},"isNewInList":{"type":"boolean","example":true,"default":true},"order":{"type":"integer","example":7,"default":0},"owner":{"type":"object","properties":{"initials":{"type":"string","example":"AS"},"color":{"type":"string","example":"6CD5FA"},"firstName":{"type":"string","example":"Andrew"},"lastName":{"type":"string","example":"Spear"},"percentWork":{"type":"integer","example":0,"default":0},"resourceId":{"type":"string","example":"fe14095b-deff-479c-936b-b79c4557e6fd"},"userId":{"type":"string","example":"fe14095b-deff-479c-936b-b79c4557e6fd"},"isActive":{"type":"boolean","example":true,"default":true},"shortName":{"type":"string","example":"Andrew"},"id":{"type":"string","example":"fe14095b-deff-479c-936b-b79c4557e6fd"},"name":{"type":"string","example":"Andrew Spear"}}},"rank":{"type":"integer","example":0,"default":0},"version":{"type":"integer","example":0,"default":0},"parent":{"type":"object","properties":{"id":{"type":"string","example":"00765e86-8c58-4b90-b99d-8ad47156c6ad"},"name":{"type":"string","example":"2. Design"}}},"actualEffort":{},"actualEffortFormat":{},"assignments":{"type":"array","items":{"type":"object","properties":{"originalResourceId":{"type":"string","example":"00000000-0000-0000-0000-000000000000"},"resourceId":{"type":"string","example":"e670bd6f-88e8-4081-b5ae-1397dcac0185"},"percentAssignment":{"type":"integer","example":100,"default":0},"id":{"type":"string","example":"2b2b3f67-a74b-405c-9edb-8c7e5bd1298a"},"type":{"type":"string","example":"pm.models.Assignment"},"dirty":{"type":"boolean","example":false,"default":true},"deleted":{"type":"boolean","example":false,"default":true},"isNew":{"type":"boolean","example":false,"default":true}}}},"name":{"type":"string","example":"Create Design Specification"},"notes":{},"percentComplete":{"type":"integer","example":0,"default":0},"plannedEffort":{"type":"integer","example":480,"default":0},"plannedEffortFormat":{},"plannedFinish":{"type":"string","example":"2020-07-02T23:59:59"},"plannedStart":{"type":"string","example":"2020-06-26T00:00:00"},"priority":{"type":"integer","example":500,"default":0},"projectId":{"type":"string","example":"37082b0a-6b53-41ab-881f-1effe7a8ad55"},"projectName":{"type":"string","example":"Team Project"},"shortId":{"type":"string","example":"TP-13"},"extendedColumnValues":{"type":"array"},"discussionData":{},"fileData":{"type":"object","properties":{"count":{"type":"integer","example":0,"default":0},"lastUpdatedDate":{},"lastReadDate":{"type":"string","example":"2020-05-13T02:55:34.1"}}},"notesData":{"type":"object","properties":{"count":{"type":"integer","example":0,"default":0},"lastUpdatedDate":{},"lastReadDate":{"type":"string","example":"2020-05-13T02:55:34.1"}}},"todoes":{"type":"array"},"tags":{"type":"array"},"id":{"type":"string","example":"1014dd7a-c31b-4284-a087-58b7d474b51f"},"type":{"type":"string","example":"Common.Dto.TaskList.TaskDto"},"dirty":{"type":"boolean","example":false,"default":true},"deleted":{"type":"boolean","example":false,"default":true},"isNew":{"type":"boolean","example":false,"default":true}}}},"count":{"type":"integer","example":2,"default":0}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true},"errorLogged":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n  type: 'PUT',\n  url: 'https://api.projectmanager.com/api/v3/board/{projectid}',\n  headers: {'apiKey': '[yourApiKey]'}\n}).done(function(data) {\n  log(data);\n});"}],"samples-languages":["javascript"]}}},"/project/search":{"post":{"summary":"Project Search","description":"Search all projects on your account","operationId":"project-search","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"modifiedDate":{"type":"string","description":"A JSON string containing start and end dates, eg: `{start: '2021-01-01', date: '2021-12-31'}`"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": [\n        {\n            \"budget\": null,\n            \"chargeCode\": null,\n            \"description\": \"Lorem ipsum nulla vitae elit libero a pharetra augue.\",\n            \"isFavorite\": false,\n            \"manager\": null,\n            \"priority\": {\n                \"id\": \"e725e701-f2fb-426e-870e-e358d65aeaa8\",\n                \"name\": \"Very Important\"\n            },\n            \"rate\": null,\n            \"shortName\": \"constru\",\n            \"status\": {\n                \"id\": \"f9094925-1e37-4945-b5ab-a0fb900423e5\",\n                \"name\": \"In Development\"\n            },\n            \"shortId\": \"CP\",\n            \"url\": null,\n            \"access\": \"public\",\n            \"id\": \"90c50e91-e2cc-4f85-8721-8bc71fd844cc\",\n            \"name\": \"Construction Project\"\n        }\n    ],\n    \"success\": true,\n    \"message\": null,\n    \"friendlyMessage\": null,\n    \"exceptionType\": null,\n    \"logout\": false,\n    \"errorLogged\": false\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"budget":{},"chargeCode":{},"description":{"type":"string","example":"Lorem ipsum nulla vitae elit libero a pharetra augue."},"isFavorite":{"type":"boolean","example":false,"default":true},"manager":{},"priority":{"type":"object","properties":{"id":{"type":"string","example":"e725e701-f2fb-426e-870e-e358d65aeaa8"},"name":{"type":"string","example":"Very Important"}}},"rate":{},"shortName":{"type":"string","example":"constru"},"status":{"type":"object","properties":{"id":{"type":"string","example":"f9094925-1e37-4945-b5ab-a0fb900423e5"},"name":{"type":"string","example":"In Development"}}},"shortId":{"type":"string","example":"CP"},"url":{},"access":{"type":"string","example":"public"},"id":{"type":"string","example":"90c50e91-e2cc-4f85-8721-8bc71fd844cc"},"name":{"type":"string","example":"Construction Project"}}}},"success":{"type":"boolean","example":true,"default":true},"message":{},"friendlyMessage":{},"exceptionType":{},"logout":{"type":"boolean","example":false,"default":true},"errorLogged":{"type":"boolean","example":false,"default":true}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"javascript","code":"$.ajax({\n  type: 'POST',\n  url: 'https://api.projectmanager.com/api/v3/project/search',\n  headers: {\n    apiKey: '{api_key}'\n  },\n  data: {\n    modifiedDate: {\n      start: '2021-01-01',\n      date: '2021-12-31'\n    }\n  }\n}).done(function(data) {\n  log(data);\n});","name":"jQuery"}],"samples-languages":["javascript"]}}},"/project/{project_id}/search":{"post":{"summary":"Project Task Search","description":"Search for tasks in a project","operationId":"task-search","parameters":[{"name":"apiKey","
[...]
