{
    "openapi": "3.1.0",
    "info": {
        "title": "API Settings",
        "version": "1"
    },
    "servers": [
        {
            "url": "https://secure.projectmanager.com/api/v1"
        }
    ],
    "components": {
        "securitySchemes": {
            "sec0": {
                "type": "apiKey",
                "name": "apiKey",
                "in": "header",
                "x-default": "Enter api key here."
            }
        }
    },
    "security": [
        {
            "sec0": []
        }
    ],
    "paths": {
        "/projects/{projectId}.json": {
            "get": {
                "summary": "Get Single Project",
                "description": "A Project resource represents a planned and track-able project within ProjectManager.com.\n\nUse this API to retrieve the details of a single project using its unique identifier.",
                "operationId": "retrieve-a-specific-project",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The ID of the project you want to fetch.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"status\": \"Okay\",\n    \"project\": {\n        \"budget\": 300000000.00,\n        \"chargeCode\": null,\n        \"custom1\": null,\n        \"custom2\": null,\n        \"custom3\": null,\n        \"custom4\": null,\n        \"customer\": null,\n        \"description\": \"\",\n        \"manager\": null,\n        \"priority\": {\n            \"id\": 4638,\n            \"name\": \"Critical\"\n        },\n        \"rate\": 200.00,\n        \"shortName\": \"Feb-16-\",\n        \"status\": {\n            \"id\": 4638,\n            \"name\": \"Open\"\n        },\n        \"id\": 216587,\n        \"name\": \"Feb-16-Reg-1\",\n        \"customColumns\":\n          [\n            { name: \"MyCurrencyCol\", type: \"currency\", extendedColumnId=567},\n            { name: \"MyNumberCol\", type: \"number\", extendedColumnId=568},\n            { name: \"MyDateCol\", type: \"currency\", extendedColumnId=569},\n            { name: \"MyStringCol\", type: \"string\", extendedColumnId=570},\n            { name: \"MyBoolCol\", type: \"bool\", extendedColumnId=571}\n          ]\n    }\n}"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": "$.ajax({\n \t\ttype: \"GET\", \n  \turl: \"https://secure.projectmanager.com/api/v1/projects/\" + projectId + \".json\", \n  \tcontentType: 'application/json', \n  \tdataType: \"json\", \n  \tsuccess: worked,\n  \theaders: { apiKey: apiKey }\n});"
                        }
                    ],
                    "samples-languages": [
                        "javascript"
                    ]
                }
            },
            "delete": {
                "summary": "Delete a Project",
                "description": "A Project resource represents a planned and track-able project within ProjectManager.com.\n\nUse this API to set a particular Project to delete/inactive status.",
                "operationId": "delete-a-project",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The ID of the project you want to delete.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\tstatus: \"Okay\"}"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": "$.ajax({\n      type: \"DELETE\",\n      url: \"https://secure.projectmanager.com/api/v1/projects/\" + projectId + \".json\", \n      contentType: 'application/json', \n      dataTypet: \"json\",\n      success: worked ,            \n      headers: { apiKey: apiKey }\n });"
                        }
                    ],
                    "samples-languages": [
                        "javascript"
                    ]
                }
            },
            "put": {
                "summary": "Update a Project",
                "description": "A Project resource represents a planned and track-able project within ProjectManager.com.\n\nUse this API to update a single Project within ProjectManager.com.",
                "operationId": "create-a-project",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of the project."
                                    },
                                    "shortName": {
                                        "type": "string",
                                        "description": "Ths shortname of your project. Maximum 7 characters."
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "The description of your project. Maximum 1000 characters."
                                    },
                                    "rate": {
                                        "type": "number",
                                        "description": "Decimal, The project's default rate per hour.",
                                        "default": 0,
                                        "format": "double"
                                    },
                                    "budget": {
                                        "type": "number",
                                        "description": "Decimal.  The budget for the project.",
                                        "default": 0,
                                        "format": "double"
                                    },
                                    "chargeCode": {
                                        "type": "integer",
                                        "description": "{id: chargeCodeId}. The charge code Id for the project. Retrieve using project data endpoint: /api/v1/ProjectData/customFields",
                                        "format": "int32"
                                    },
                                    "status": {
                                        "type": "integer",
                                        "description": "{id: statusId}. The project status Id. Retrieve using project data endpoint: /api/v1/ProjectData/statuses",
                                        "format": "int32"
                                    },
                                    "priority": {
                                        "type": "integer",
                                        "description": "{id: priorityId}. The project priority Id. Retrieve using project data endpoint: /api/v1/ProjectData/priorities",
                                        "format": "int32"
                                    },
                                    "manager": {
                                        "type": "integer",
                                        "description": "{id: managerId}. The project manager Id for the project. Retrieve using project data endpoint: /api/v1/ProjectData/managers",
                                        "format": "int32"
                                    },
                                    "custom1": {
                                        "type": "integer",
                                        "description": "{id: custom1Id}.  Retrieve using project data endpoint: /api/v1/ProjectData/customFields",
                                        "format": "int32"
                                    },
                                    "custom2": {
                                        "type": "integer",
                                        "description": "{id: custom2Id}. Retrieve using pproject data endpoint: /api/v1/ProjectData/customFields",
                                        "format": "int32"
                                    },
                                    "custom3": {
                                        "type": "integer",
                                        "description": "{id: custom3Id}.  Retrieve using project data endpoint: /api/v1/ProjectData/customFields",
                                        "format": "int32"
                                    },
                                    "custom4": {
                                        "type": "integer",
                                        "description": "{id: custom4Id}. Retrieve using project data endpoint: /api/v1/ProjectData/customFields",
                                        "format": "int32"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n\t\tstatus: \"Okay\",\n    project:{\n        \"description\": null,\n        \"shortName\": \"TAPIa30dfsdfsdf\",\n        \"rate\": 111.00,\n        \"budget\": 5501.00,\n        \"manager\": {\"id\": 1801},\n        \"customer\": {\"id\": 3070},\n        \"priority\": {\"id\": 16169},\n        \"status\": {\"id\": 4638},\n        \"chargeCode\": null,\n        \"name\": \"TEST3004\"\n    }\n}"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": "var project = {\n    \"description\": null,\n    \"shortName\": \"TESTAPa\",\n    \"rate\": 111.00,\n    \"budget\": 5501.00,\n    \"manager\": {\n        \"id\": 1801\n    },\n    \"customer\": {\n          \"id\": 3070\n     },\n    \"priority\": {\n          \"id\": 16169\n     },\n     \"status\": {\n           \"id\": 4638\n     },\n     \"chargeCode\": null,\n     \"name\": \"TESTAPIa\"\n}\n$.ajax({\n\t\ttype: \"PUT\", \n\t\turl: \"https://secure.projectmanager.com/api/v1/projects/\"+projectId+\".json\", \n\t\tcontentType: 'application/json', \n\t\tdataType: \"json\", \n\t\tsuccess: worked,\n\t\tdata: JSON.stringify(project),\n\t\theaders: { apiKey: apiKey }\n });"
                        }
                    ],
                    "samples-languages": [
                        "javascript"
                    ]
                }
            }
        },
        "/projects/{projectId}/tasks.json": {
            "get": {
                "summary": "Tasks by Project",
                "description": "A Task instance represents a task created within a Project. It may be a high level summary task, or a task within a task.\n\nUse this API to retrieve the full list of Tasks for a given project.",
                "operationId": "retrieve-a-projects-tasks",
                "parameters": [
                    {
                        "name": "projectId",
                        "in": "path",
                        "description": "The Id of the project to retrieve tasks for.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"status\": \"Okay\",\n    \"tasks\": [\n        {\n            \"children\": [\n            {\n                \"actual\": {\n                    \"cost\": 0.0,\n                    \"duration\": null,\n                    \"effort\": 480,\n                    \"finish\": null,\n                    \"resourceCost\": 0.0,\n                    \"start\": null\n                },\n                \"assignments\": [\n                    932618\n                ],\n                \"baseline\":   {\n                    \"cost\": 0.0,\n                    \"duration\": null,\n                    \"effort\": 300,\n                    \"finish\": null,              \n                    \"start\": null\n            \t\t},\n                \"isMilestone\": false,\n                \"isSummary\": false,\n                \"notes\": null,\n                \"percentComplete\": null,\n                \"planned\": {\n                    \"cost\": 0.0,\n                    \"duration\": 3840,\n                    \"effort\": 1200,\n                    \"finish\": null,\n                    \"resourceCost\": 0.0,\n                    \"start\": \"2015-05-07T00:00:00\"\n                },\n                \"predeccesors\": null,\n                \"priority\": 600,\n                \"successors\": [\n                    28178220\n                ],\n                \"wbs\": \"1.1\",\n                \"id\": 28178219,\n                \"name\": \"a1\",\n                \"customColumns\":\n                  [\n                    { name: \"MyCurrencyCol\", type: \"currency\", data: \"95.99\", extendedColumnId=567},\n                    { name: \"MyNumberCol\", type: \"number\", data: \"1234\", extendedColumnId=568},\n                    { name: \"MyDateCol\", type: \"currency\", data: \"27-01-2018\", extendedColumnId=569},\n                    { name: \"MyStringCol\", type: \"string\", data: \"Spiffy Sprockets\", extendedColumnId=570},\n                    { name: \"MyBoolCol\", type: \"bool\", data: \"true\", extendedColumnId=571}\n                  ]\n            }\n            ],\n            \"actual\": {\n                \"cost\": 0.0,\n                \"duration\": null,\n                \"effort\": 480,\n                \"finish\": null,\n                \"resourceCost\": 0.0,\n                \"start\": null\n            },\n            \"assignments\": null,\n            \"baseline\": {\n                    \"cost\": 0.0,\n                    \"duration\": null,\n                    \"effort\": 300,\n                    \"finish\": null,              \n                    \"start\": null\n            },\n            \"isMilestone\": false,\n            \"isSummary\": true,\n            \"notes\": null,\n            \"percentComplete\": null,\n            \"planned\": {\n                \"cost\": 0.0,\n                \"duration\": 3840,\n                \"effort\": 1200,\n                \"finish\": null,\n                \"resourceCost\": 0.0,\n                \"start\": \"2015-05-07T00:00:00\"\n            },\n            \"predeccesors\": null,\n            \"priority\": 600,\n            \"successors\": null,\n            \"wbs\": \"1\",\n            \"id\": 28178218,\n            \"name\": \"a\"\n        },\n        {\n            \"children\": [],\n            \"actual\": {\n                \"cost\": 0.0,\n                \"duration\": null,\n                \"effort\": 300,\n                \"finish\": null,\n                \"resourceCost\": 0.0,\n                \"start\": null\n            },\n            \"assignments\": [\n            1259379,\n            1259380\n            ],\n            \"baseline\": {\n                    \"cost\": 0.0,\n                    \"duration\": null,\n                    \"effort\": 300,\n                    \"finish\": null,              \n                    \"start\": null\n            },\n            \"isMilestone\": false,\n            \"isSummary\": false,\n            \"notes\": null,\n            \"percentComplete\": null,\n            \"planned\": {\n                \"cost\": 0.0,\n                \"duration\": 3120,\n                \"effort\": 600,\n                \"finish\": null,\n                \"resourceCost\": 0.0,\n                \"start\": \"2015-05-19T00:00:00\"\n            },\n            \"predeccesors\": [\n            28178219\n            ],\n            \"priority\": 600,\n            \"successors\": null,\n            \"wbs\": \"2\",\n            \"id\": 28178220,\n            \"name\": \"b\"\n        }\n    ]\n}"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": "$.ajax({\n\t\ttype: \"GET\", \n  \turl: \"https://secure.projectmanager.com/api/v1/projects/\" + projectId + \"/tasks.json\", \n  \tcontentType: 'application/json', \n  \tdataType: \"json\", \n  \tsuccess: worked,\n  \theaders: { apiKey: apiKey }\n});"
                        },
                        {
                            "language": "php",
                            "code": "<?\n$context = stream_context_create(array(\n  'http'=>array(\n    'method'=>\"GET\",\n    'header'=>\"apiKey: [yourApiKey]\")\n));\n$data = file_get_contents('https://api.projectmanager.com/api/v1/projects/1234/tasks.json', false, $context);\nprint_r(json_decode($data));\n?>"
                        }
                    ],
                    "samples-languages": [
                        "javascript",
                        "php"
                    ]
                }
            }
        },
        "/tasks.json": {
            "post": {
                "summary": "Create a Task",
                "description": "A Task instance represents a task created within a Project. It may be a high level summary task, or a task within a task. \n\nUse this API to create a Task against a particular project.",
                "operationId": "create-a-task",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "projectId"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of your task."
                                    },
                                    "projectId": {
                                        "type": "integer",
                                        "description": "The project your task belongs to.",
                                        "format": "int32"
                                    },
                                    "start": {
                                        "type": "string",
                                        "description": "Task start date. yyyy-mm-ddT00:00:00",
                                        "format": "date"
                                    },
                                    "finish": {
                                        "type": "string",
                                        "description": "Task finish date. yyyy-mm-ddT00:00:00",
                                        "format": "date"
                                    },
                                    "duration": {
                                        "type": "integer",
                                        "description": "The duration of the task, in minutes.",
                                        "default": 0,
                                        "format": "int32"
                                    },
                                    "assignments": {
                                        "type": "integer",
                                        "description": "List<int>, The list of the resource ids to assign to the given task.",
                                        "default": null,
                                        "format": "int32"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "description": "The notes for the task."
                                    },
                                    "customColumns": {
                                        "type": "array",
                                        "description": "Task-level custom columns and their value. (Note: the column must have been previously created for the project before you can post it here)"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    status: \"Okay\",\n    task: {\n        projectId: 123456,\n        name: \"test api task1\",\n        notes: \"api notes\",\n        start: \"2015-04-13T00:00:00\",\n        finish: \"2015-05-13T00:00:00\",\n        duration: 2400,\n        customColumns:\n          [\n            { name: \"MyCurrencyCol\", type: \"currency\", data: \"95.99\", extendedColumnId:567},\n            { name: \"MyNumberCol\", type: \"number\", data: \"1234\", extendedColumnId:568},\n            { name: \"MyDateCol\", type: \"currency\", data: \"27-01-2018\", extendedColumnId:569},\n            { name: \"MyStringCol\", type: \"string\", data: \"Spiffy Sprockets\", extendedColumnId:570},\n            { name: \"MyBoolCol\", type: \"bool\", data: \"true\", extendedColumnId:571}\n          ]\n    }\n}"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": "var data = {\n\t\tprojectId: projectId,\n\t\tname: \"test api task1\",\n\t\tnotes: \"api notes\",\n\t\tstart: \"2015-04-13T00:00:00\",\n\t\tfinish: \"2015-05-13T00:00:00\",\n\t\tduration: 2400,\n    customColumns:\n      [\n        { name: \"MyCurrencyCol\", type: \"currency\", data: \"95.99\", extendedColumnId:567},\n        { name: \"MyNumberCol\", type: \"number\", data: \"1234\", extendedColumnId:568},\n        { name: \"MyDateCol\", type: \"currency\", data: \"27-01-2018\", extendedColumnId:569},\n        { name: \"MyStringCol\", type: \"string\", data: \"Spiffy Sprockets\", extendedColumnId:570},\n        { name: \"MyBoolCol\", type: \"bool\", data: \"true\", extendedColumnId:571}\n      ]\n}\n\n$.ajax({\n\t \ttype: \"POST\", \n   \turl: \"https://secure.projectmanager.com/api/v1/tasks.json\", \n   \tcontentType: 'application/json', \n   \tdataType: \"json\", \n   \tsuccess: worked,\n   \tdata: JSON.stringify(data), \n   \theaders: { apiKey: apiKey }\n });"
                        }
                    ],
                    "samples-languages": [
                        "javascript"
                    ]
                }
            }
        },
        "/projects.json": {
            "get": {
                "summary": "Get All Projects",
                "description": "A Project resource represents a planned and trackable project within ProjectManager.com.\n\nUse this API to retrieve all the projects available to this user, in the order in which they were created. \n\nThere are no filters for this particular call, however you can use [/resources/{resourceId}/assignedProjects](/v1.0/docs/projects-by-resource) API to retrieve the projects assigned to a particular resource.",
                "operationId": "all-projects",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"status\": \"Okay\",\n    \"projects\": [\n        {\n            \"budget\": 55000.00,\n            \"chargeCode\": null,\n            \"custom1\": null,\n            \"custom2\": null,\n            \"custom3\": null,\n            \"custom4\": null,\n            \"customer\": {\n                \"id\": 3070,\n                \"name\": \"ABC Technology\"\n            },\n            \"description\": \"ABC Technology wish to design, build and implement a new software program for their Help Desk. This software uses leading edge technologies and is a high risk to the business.\",\n            \"manager\": {\n                \"id\": 1801,\n                \"name\": \"Jeff Davis\"\n            },\n            \"priority\": {\n                \"id\": 16169,\n                \"name\": \"Very Important\"\n            },\n            \"rate\": 110.00,\n            \"shortName\": \"Sftwre\",\n            \"status\": {\n                \"id\": 4638,\n                \"name\": \"Open\"\n            },\n            \"id\": 1373,\n            \"name\": \"Software Project\",\n            \"customColumns\":\n              [\n                { name: \"MyCurrencyCol\", type: \"currency\", extendedColumnId=567},\n                { name: \"MyNumberCol\", type: \"number\", extendedColumnId=568},\n                { name: \"MyDateCol\", type: \"currency\", extendedColumnId=569},\n                { name: \"MyStringCol\", type: \"string\", extendedColumnId=570},\n                { name: \"MyBoolCol\", type: \"bool\", data: \"true\", extendedColumnId=571}\n              ]\n        }]\n}"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": "$.ajax({\n      type: 'GET',\n      url: 'https://secure.projectmanager.com/api/v1/projects.json',\n      headers: {'apiKey': '[yourApiKey]'}\n}).done(function(data) {\n\t\t\tlog(data);\n});",
                            "name": "jQuery"
                        },
                        {
                            "language": "php",
                            "code": "<?\n$context = stream_context_create(array(\n  'http'=>array(\n    'method'=>\"GET\",\n    'header'=>\"apiKey: [yourApiKey]\")\n));\n$data = file_get_contents('https://api.projectmanager.com/api/v1/projects.json', false, $context);\nprint_r(json_decode($data));\n?>",
                            "name": "PHP"
                        }
                    ],
                    "samples-languages": [
                        "javascript",
                        "php"
                    ]
                }
            },
            "post": {
                "summary": "Create a Project",
                "description": "A Project resource represents a planned and trackable project within ProjectManager.com.\n\nUse this API to create a single project in Project Manager.com. You can specify a minimum of Project Name to create a Project via the API.",
                "operationId": "create-a-project-1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of the project."
                                    },
                                    "shortName": {
                                        "type": "string",
                                        "description": "Ths shortname of your project, max 7 characters."
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "The description of the project, max 1000 characters."
                                    },
                                    "rate": {
                                        "type": "number",
                                        "description": "Project default rate per hour. Please note that the rate must be non-negative.",
                                        "default": 0,
                                        "format": "double"
                                    },
                                    "budget": {
                                        "type": "number",
                                        "description": "Budget for project. Please note that the budget must be non-negative.",
                                        "default": 0,
                                        "format": "double"
                                    },
                                    "status": {
                                        "type": "integer",
                                        "description": "{id: statusId}, can get from /api/v1/ProjectData/statuses",
                                        "format": "int32"
                                    },
                                    "priority": {
                                        "type": "integer",
                                        "description": "{id: priorityId}, can get from /api/v1/ProjectData/priorities",
                                        "format": "int32"
                                    },
                                    "manager": {
                                        "type": "integer",
                                        "description": "{id: managerId}, can get from /api/v1/ProjectData/managers",
                                        "format": "int32"
                                    },
                                    "custom1": {
                                        "type": "integer",
                                        "description": "{id: custom1Id}, can get from /api/v1/ProjectData/customFields",
                                        "format": "int32"
                                    },
                                    "custom2": {
                                        "type": "integer",
                                        "description": "{id: custom2Id}, can get from /api/v1/ProjectData/customFields",
                                        "format": "int32"
                                    },
                                    "custom3": {
                                        "type": "integer",
                                        "description": "{id: custom3Id}, can get from /api/v1/ProjectData/customFields",
                                        "format": "int32"
                                    },
                                    "custom4": {
                                        "type": "integer",
                                        "description": "{id: custom4Id}, can get from /api/v1/ProjectData/customFields",
                                        "format": "int32"
                                    },
                                    "chargeCode": {
                                        "type": "integer",
                                        "description": "{id: chargeCodeId}, can get from /api/v1/ProjectData/customFields",
                                        "format": "int32"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{ \n    status: \"Okay\",\n    project:  {\n        id:78888,\n        name: 'Rennovation at 42 Wallaby Way',\n        shortName: 'Wallaby',\n        description: 'Major rennovation project for the dentist in Sydney.',\n        budget: 250000,\n        rate: 89.90,\n        chargeCode: {\n            \"id\": 1234\n        },\n        manager: {\n            \"id\": 2345\n        }\n    }\n}"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": "$.ajax({\n      url: 'https://secure.projectmanager.com/api/v1/projects.json',\n      type: 'post',\n      headers: {\n            apiKey: '[apiKey]',\n      },\n      dataType: 'json',\n      data: {\n            name: 'Rennovation at 42 Wallaby Way',\n            shortName: 'Wallaby',\n            description: 'Major rennovation project for the dentist in Sydney.',\n            budget: 250000,\n            rate: 89.90,\n            chargeCode: {\n              \"id\": 1234\n            },\n            manager: {\n              \"id\": 2345\n            },\n      },\n  success: function (data) {\n\t\t\tconsole.info(data);\n  }\n});",
                            "name": "jQuery"
                        }
                    ],
                    "samples-languages": [
                        "javascript"
                    ]
                }
            }
        },
        "/tasks/{taskId}.json": {
            "get": {
                "summary": "Get a Task",
                "description": "A Task instance represents a task created within a Project. It may be a high level summary task, or a task within a task. \n\nUse this API to retrieve a particular task by it's unique identifier.",
                "operationId": "retrieve-a-project",
                "parameters": [
                    {
                        "name": "taskId",
                        "in": "path",
                        "description": "The Id of the Task you wish to retrieve.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"status\": \"Okay\",\n    \"task\": {\n        \"children\": [\n            28178219 // note this is not task object but the child task id\n        ],\n        \"actual\": {\n            \"cost\": 0.0,\n            \"duration\": null,\n            \"effort\": 480,\n            \"finish\": null,\n            \"resourceCost\": 0.0,\n            \"start\": null\n        },\n        \"assignments\": null,\n        \"baseline\":  {\n            \"cost\": 0.0,\n            \"duration\": null,\n            \"effort\": 300,\n            \"finish\": null,              \n            \"start\": null\n         },\n        \"isMilestone\": false,\n        \"isSummary\": true,\n        \"notes\": null,\n        \"percentComplete\": null,\n        \"planned\": {\n            \"cost\": 0.0,\n            \"duration\": 3840,\n            \"effort\": 1200,\n            \"finish\": null,\n            \"resourceCost\": 0.0,\n            \"start\": \"2015-05-07T00:00:00\"\n        },\n        \"predeccesors\": null,\n        \"priority\": 600,\n        \"successors\": null,\n        \"wbs\": \"1\",\n        \"id\": 28178218,\n        \"name\": \"a\",\n        \"customColumns\":\n          [\n            { name: \"MyCurrencyCol\", type: \"currency\", data: \"95.99\", extendedColumnId=567},\n            { name: \"MyNumberCol\", type: \"number\", data: \"1234\", extendedColumnId=568},\n            { name: \"MyDateCol\", type: \"currency\", data: \"27-01-2018\", extendedColumnId=569},\n            { name: \"MyStringCol\", type: \"string\", data: \"Spiffy Sprockets\", extendedColumnId=570},\n            { name: \"MyBoolCol\", type: \"bool\", data: \"true\", extendedColumnId=571}\n          ]\n    }\n}"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": "$.ajax({\n   \ttype: \"GET\", \n  \turl: \"https://secure.projectmanager.com/api/v1/tasks/\" + id + \".json\", \n  \tcontentType: 'application/json', \n  \tdataType: \"json\", \n  \tsuccess: worked,\n  \theaders: { apiKey: apiKey }\n});\n\n\n"
                        }
                    ],
                    "samples-languages": [
                        "javascript"
                    ]
                }
            },
            "put": {
                "summary": "Update a Task",
                "description": "A Task instance represents a task created within a Project. It may be a high level summary task, or a task within a task. \n\nUse this API to update an existing task.",
                "operationId": "update-a-task",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "percentComplete": {
                                        "type": "integer",
                                        "description": "Your task percent completed",
                                        "default": null,
                                        "format": "int32"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "description": "Your tasks notes.",
                                        "default": "null"
                                    },
                                    "customColumns": {
                                        "type": "array",
                                        "description": "Task-level custom columns and their value. (Note: the column must have been previously created for the project before you can post it here)"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"status\": \"Okay\",\n    \"task\": {\n        \"children\": [\n            28178219 // note this is not task object but the children task id\n        ],\n        \"actual\": {\n            \"cost\": 0.0,\n            \"duration\": null,\n            \"effort\": 480,\n            \"finish\": null,\n            \"resourceCost\": 0.0,\n            \"start\": null\n        },\n        \"assignments\": null,\n        \"baseline\": null,\n        \"isMilestone\": false,\n        \"isSummary\": true,\n        \"notes\": null,\n        \"percentComplete\": null,\n        \"planned\": {\n            \"cost\": 0.0,\n            \"duration\": 3840,\n            \"effort\": 1200,\n            \"finish\": null,\n            \"resourceCost\": 0.0,\n            \"start\": \"2015-05-07T00:00:00\"\n        },\n        \"predeccesors\": null,\n        \"priority\": 600,\n        \"successors\": null,\n        \"wbs\": \"1\",\n        \"id\": 28178218,\n        \"name\": \"a\",\n        \"customColumns\":\n          [\n            { name: \"MyCurrencyCol\", type: \"currency\", data: \"95.99\", extendedColumnId=567},\n            { name: \"MyNumberCol\", type: \"number\", data: \"1234\", extendedColumnId=568},\n            { name: \"MyDateCol\", type: \"currency\", data: \"27-01-2018\", extendedColumnId=569},\n            { name: \"MyStringCol\", type: \"string\", data: \"Spiffy Sprockets\", extendedColumnId=570},\n            { name: \"MyBoolCol\", type: \"bool\", data: \"true\", extendedColumnId=571}\n          ]\n    }\n}"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": "var data = {\n     task: {\n           percentComplete: 50,\n       \t\t customColumns:\n             [\n               { name: \"MyCurrencyCol\", type: \"currency\", data: \"95.99\", extendedColumnId=567},\n               { name: \"MyNumberCol\", type: \"number\", data: \"1234\", extendedColumnId=568},\n               { name: \"MyDateCol\", type: \"currency\", data: \"27-01-2018\", extendedColumnId=569},\n               { name: \"MyStringCol\", type: \"string\", data: \"Spiffy Sprockets\", extendedColumnId=570},\n               { name: \"MyBoolCol\", type: \"bool\", data: \"true\", extendedColumnId=571}\n             ]\n           }\n     }\n\n\n$.ajax({\n     type: \"PUT\", \n  \t url: \"https://secure.projectmanager.com/api/v1/tasks/28178217.json\", \n  \t contentType: 'application/json', \n  \t dataType: \"json\", \n     success: worked,\n  \t data: JSON.stringify(data),\n     headers: { apiKey: apiKey }\n});"
                        }
                    ],
                    "samples-languages": [
                        "javascript"
                    ]
                }
            }
        },
        "/resources/{resourceId}.json": {
            "put": {
                "summary": "Update a Resource",
                "description": "A Resource instance represents a resource created for a particular business account. This may be a resource associated with a particular user, or an inanimate resource.\n\nUse this API to update an existing Resource.",
                "operationId": "edit-a-resource",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of your resource."
                                    },
                                    "hourRate": {
                                        "type": "number",
                                        "description": "Decimal. Hourly rate for resource. The hourly rate will not updated if null is passed in to this parameter.",
                                        "default": null,
                                        "format": "double"
                                    },
                                    "shortName": {
                                        "type": "string",
                                        "description": "The short name of the resource. Maximum 7 characters. If more than 7 characters is specified we will truncate the value of this field",
                                        "default": "null"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{ \n  status: \"Okay\",\n  resource: {\n    \t\t\t\t\t\t\t\tid: 222222\n                    name: \"updated api res\",\n                    hourRate: 20,\n                    shortName: \"uar\"\n                }\n}"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": "var data = {\n  id: resourceId,\n  resource: {\n    name: \"updated api res\",\n    hourRate: 20,\n    shortName: \"uar\"\n  }\n};\n\n$.ajax({\n    type: \"PUT\", \n    url: \"https://secure.projectmanager.com/api/v1/resources.json\", \n    contentType: 'application/json', \n    dataType: \"json\", \n    success: worked , \n    data: JSON.stringify(data),\n    headers: { apiKey: apiKey }\n });"
                        }
                    ],
                    "samples-languages": [
                        "javascript"
                    ]
                }
            },
            "delete": {
                "summary": "Delete a Resource",
                "description": "A Resource instance represents a resource created for a particular business account. This may be a resource associated with a particular user, or an inanimate resource.\n\nUse this  API to delete an existing Resource.",
                "operationId": "delete-a-resource",
                "parameters": [
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The unique identifier of the resource you would like to delete.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    status: \"Okay\"\n}"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": "$.ajax({\n\t\ttype: \"DELETE\", \n   \turl: \"https://secure.projectmanager.com/api/v1/resources/\" + resourceId + \".json\", \n   \tcontentType: 'application/json', \n   \tdataType: \"json\", \n   \tsuccess: worked,            \n\t\theaders: { apiKey: apiKey }\n});"
                        }
                    ],
                    "samples-languages": [
                        "javascript"
                    ]
                }
            },
            "get": {
                "summary": "Get a Resource",
                "description": "A Resource instance represents a resource created for a particular business account. This may be a resource associated with a particular user, or an inanimate resource.\n\nUse this API to retrieve a single resource by its unique identifier.",
                "operationId": "retrieve-resource-by-resource-id",
                "parameters": [
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The id of the resource you want to retrieve.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"status\": \"Okay\",\n    \"resource\": {\n        \"hourRate\": null,\n        \"shortName\": \"Aida\",\n        \"id\": 1259380,\n        \"name\": \"Aida Tavakkolie\"\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Okay"
                                        },
                                        "resource": {
                                            "type": "object",
                                            "properties": {
                                                "hourRate": {},
                                                "shortName": {
                                                    "type": "string",
                                                    "example": "Aida"
                                                },
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1259380,
                                                    "default": 0
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Aida Tavakkolie"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/tasks/{taskId}/timesheets.json": {
            "get": {
                "summary": "Timesheets by Task",
                "description": "A Timesheet instance records the number of hours spent on Tasks and Administrative activities/leave for a particular Resource.\n\nA Timesheet entry is for a particular day, and there can only be one Timesheet record per Resource for a particular task or admin type for a specific date.\n\nUse this API to retrieve a full list of Timesheet entries for a particular task.",
                "operationId": "retrieve-timesheets-from-tasks",
                "parameters": [
                    {
                        "name": "taskId",
                        "in": "path",
                        "description": "The unique Id of the Task that you would like to retrieve timesheets for.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"status\": \"Okay\",\n    \"timesheets\": [\n        {\n            \"adminTypeId\": null,\n            \"date\": \"2015-05-07T00:00:00\",\n            \"hours\": 8.00,\n            \"projectId\": 555069,\n            \"taskId\": 28178219,\n            \"resouceId\": 1608580,\n            \"id\": 14469255,\n            \"name\": null\n        },\n        {\n            \"adminTypeId\": null,\n            \"date\": \"2015-05-07T00:00:00\",\n            \"hours\": 5.00,\n            \"projectId\": 555069,\n            \"taskId\": 28178220,\n            \"resouceId\": 1608580,\n            \"id\": 14469256,\n            \"name\": null\n        }\n    ]\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Okay"
                                        },
                                        "timesheets": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "adminTypeId": {},
                                                    "date": {
                                                        "type": "string",
                                                        "example": "2015-05-07T00:00:00"
                                                    },
                                                    "hours": {
                                                        "type": "integer",
                                                        "example": 8,
                                                        "default": 0
                                                    },
                                                    "projectId": {
                                                        "type": "integer",
                                                        "example": 555069,
                                                        "default": 0
                                                    },
                                                    "taskId": {
                                                        "type": "integer",
                                                        "example": 28178219,
                                                        "default": 0
                                                    },
                                                    "resouceId": {
                                                        "type": "integer",
                                                        "example": 1608580,
                                                        "default": 0
                                                    },
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 14469255,
                                                        "default": 0
                                                    },
                                                    "name": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": " $.ajax({ \n     type: \"GET\", \n     url: \"https://secure.projectmanager.com/api/v1/tasks/\" + taskId + \"/timesheets.json\", \n     contentType: 'application/json', \n     dataType: \"json\", \n     success: worked,\n     headers: { apiKey: apiKey }\n   });"
                        },
                        {
                            "language": "php",
                            "code": "<?\n$context = stream_context_create(array(\n  'http'=>array(\n    'method'=>\"GET\",\n    'header'=>\"apiKey: [yourApiKey]\")\n));\n$data = file_get_contents('https://secure.projectmanager.com/api/v1/tasks/[taskId]/timesheets.json', false, $context);\nprint_r(json_decode($data));\n?>"
                        }
                    ],
                    "samples-languages": [
                        "javascript",
                        "php"
                    ]
                }
            }
        },
        "/folders.json": {
            "get": {
                "summary": "All Folders",
                "description": "A Folder represents a Directory created in ProjectManager.com. This may be a Project folder, or a user created folder.\n\nUse this API to retrieve a user's Folder structure.",
                "operationId": "retrieve-folders",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"status\": \"Okay\",\n    \"folders\": [\n        {\n            \"folders\": [\n            {\n                \"folders\": [\n                    {\n                        \"folders\": null,\n                        \"id\": 920699,\n                        \"name\": \"bbb\"\n                    }\n                ],\n                \"id\": 867877,\n                \"name\": \"aaa\"\n            }\n            ],\n            \"id\": 775763,\n            \"name\": \"My Docs\"\n        },\n        {\n            \"folders\": null,\n            \"id\": 1381704,\n            \"name\": \"Shared\"\n        },\n        {\n            \"folders\": null,\n            \"id\": 1700712,\n            \"name\": \"Reports\"\n        },\n        {\n            \"folders\": [\n            ],\n            \"id\": 239,\n            \"name\": \"Team\"\n        },\n        {\n            \"folders\": [\n            {\n                \"folders\": null,\n                \"id\": 1932272,\n                \"name\": \"0506\"\n            },\n            {\n                \"folders\": null,\n                \"id\": 1207564,\n                \"name\": \"0512\"\n            },\n            {\n                \"folders\": [\n                    {\n                        \"folders\": null,\n                        \"id\": 537060,\n                        \"name\": \"0225\"\n                    },\n                    {\n                        \"folders\": null,\n                        \"id\": 642911,\n                        \"name\": \"aa\"\n                    }\n                ],\n                \"id\": 29445,\n                \"name\": \"Deleted Projects\"\n            }\n            ],\n            \"id\": 29439,\n            \"name\": \"Projects\"\n        },\n        {\n            \"folders\": [\n            {\n                \"folders\": null,\n                \"id\": 1362128,\n                \"name\": \"campbella\"\n            }\n            ],\n            \"id\": null,\n            \"name\": \"Shared User Documents\"\n        },\n        {\n            \"folders\": null,\n            \"id\": 761942,\n            \"name\": \"Trash Can\"\n        }\n    ]\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Okay"
                                        },
                                        "folders": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "folders": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "folders": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "folders": {},
                                                                            "id": {
                                                                                "type": "integer",
                                                                                "example": 920699,
                                                                                "default": 0
                                                                            },
                                                                            "name": {
                                                                                "type": "string",
                                                                                "example": "bbb"
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 867877,
                                                                    "default": 0
                                                                },
                                                                "name": {
                                                                    "type": "string",
                                                                    "example": "aaa"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 775763,
                                                        "default": 0
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "My Docs"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": "$.ajax({\n    type: \"GET\", \n    url: \"https://secure.projectmanager.com/api/v1/folders.json\", \n    contentType: 'application/json', \n    dataType: \"json\", \n    success: worked, \n    headers: { apiKey: apiKey }\n});"
                        },
                        {
                            "language": "php",
                            "code": "<?\n$context = stream_context_create(array(\n  'http'=>array(\n    'method'=>\"GET\",\n    'header'=>\"apiKey: [yourApiKey]\")\n));\n$data = file_get_contents('https://secure.projectmanager.com/api/v1/folders.json', false, $context);\nprint_r(json_decode($data));\n?>"
                        }
                    ],
                    "samples-languages": [
                        "javascript",
                        "php"
                    ]
                }
            }
        },
        "/files/{fileId}.json": {
            "delete": {
                "summary": "Delete a File",
                "description": "A File instance represents a file added or attached in ProjectManager.com. This may be a file attached to a Project or shared documents etc.\n\nUse this API to delete a single file.",
                "operationId": "delete-a-file",
                "parameters": [
                    {
                        "name": "fileId",
                        "in": "path",
                        "description": "The id of the file that you would like to delete.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    status: \"Okay\"\n}"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": "$.ajax({\n  type: \"DELETE\",\n  url: \"https://secure.projectmanager.com/api/v1/files/\" + fileId + \".json\",\n  contentType: 'application/json',\n  dataType: \"json\",\n  headers: { apiKey: apiKey }\n});"
                        }
                    ],
                    "samples-languages": [
                        "javascript"
                    ]
                }
            },
            "get": {
                "summary": "Get a File",
                "description": "A File instance represents a file added or attached in ProjectManager.com. This may be a file attached to a Project or shared documents etc.\n\nUse this API to fetch a single file by its unique identifier.",
                "operationId": "retrieve-a-file",
                "parameters": [
                    {
                        "name": "fileId",
                        "in": "path",
                        "description": "The Id of the file you would like to retrieve.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"status\": \"Okay\",\n    \"file\": {\n        \"url\": \"https://secure.projectmanager.com/Share/Public/UserFile.aspx?hid=60F80&bid=c75bd554-5263-4de7-9905-656bacb24f88\",\n        \"id\": 397184,\n        \"name\": \"12%20-%201.jpg\"\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Okay"
                                        },
                                        "file": {
                                            "type": "object",
                                            "properties": {
                                                "url": {
                                                    "type": "string",
                                                    "example": "https://secure.projectmanager.com/Share/Public/UserFile.aspx?hid=60F80&bid=c75bd554-5263-4de7-9905-656bacb24f88"
                                                },
                                                "id": {
                                                    "type": "integer",
                                                    "example": 397184,
                                                    "default": 0
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "12%20-%201.jpg"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": "$.ajax({\n  type: \"GET\",\n  url: \"https://secure.projectmanager.com/api/v1/files/\" + fileId + \".json\",\n  contentType: 'application/json',\n  dataType: \"json\",\n  headers: { apiKey: apiKey }\n});"
                        }
                    ],
                    "samples-languages": [
                        "javascript"
                    ]
                }
            }
        },
        "/resources/{resourceId}/assignedProjects.json": {
            "get": {
                "summary": "Get Projects by Resource",
                "description": "A Project represents a planned and trackable Project within ProjectManager.com.\n\nUse this API to fetch a full list of projects assigned to a particular resource. You can retrieve a list of valid `resourceId` values by calling [https://api.projectmanager.com/api/v1/resources.json](/v1.0/docs/retrieve-resources).\n\nNOTE: The API instructions use the term \"Resource\" in both the Code and in these Developer instructions to reference Resourceid. However, in the live Product, the term \"Resource\" has been globally changed to \"People\" or \"Person\" to indicate a resource.",
                "operationId": "projects-by-resource",
                "parameters": [
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The Id of the resource you wish to query assigned projects for.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"status\": \"Okay\",\n    \"projects\": [\n        {\n            \"status\": \"Open\",\n            \"authorised\": true,\n            \"due\": \"2015-05-27T12:00:00\",\n            \"id\": 555069,\n            \"name\": \"Sample Project\"\n        }\n    ]\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Okay"
                                        },
                                        "projects": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "status": {
                                                        "type": "string",
                                                        "example": "Open"
                                                    },
                                                    "authorised": {
                                                        "type": "boolean",
                                                        "example": true,
                                                        "default": true
                                                    },
                                                    "due": {
                                                        "type": "string",
                                                        "example": "2015-05-27T12:00:00"
                                                    },
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 555069,
                                                        "default": 0
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Sample Project"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": "$.ajax({\n      type: 'GET',\n      url: 'https://secure.projectmanager.com/api/v1/resources/[resourceId]/assignedProjects.json',\n      headers: {'apiKey': '[yourApiKey]'}\n})\n.done(function(data) {\n  \t\tlog(data);\n});"
                        },
                        {
                            "language": "php",
                            "code": "<?\n$context = stream_context_create(array(\n  'http'=>array(\n    'method'=>\"GET\",\n    'header'=>\"apiKey: [yourApiKey]\")\n));\n$data = file_get_contents('https://api.projectmanager.com/api/v1/resources/1234/assignedProjects.json', false, $context);\nprint_r(json_decode($data));\n?>"
                        }
                    ],
                    "samples-languages": [
                        "javascript",
                        "php"
                    ]
                }
            }
        },
        "/timesheets/{timesheetId}.json": {
            "delete": {
                "summary": "Delete a Timesheet",
                "description": "A Timesheet instance records the number of hours spent on Tasks and Administrative activities for a particular Resource.\n\nA Timesheet entry is for a particular day, and there can only be one Timesheet record per Resource for a particular task or admin type for a specific date.\n\nUse this API to delete a Timesheet record by its unique identifier.",
                "operationId": "delete-a-timesheet",
                "parameters": [
                    {
                        "name": "timesheetId",
                        "in": "path",
                        "description": "The id of the timesheet that you would like to delete.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    status: \"Okay\"\n}"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "javascript",
                            "code": "$.ajax({\n    type: \"DELETE\",\n    url: \"https://secure.projectmanager.com/api/v1/timesheets/\" + timesheetId + \".json\", \n    contentType: 'application/json', \n    dataType: \"json\", \n    success: worked,              \n \t\theaders: { apiKey: apiKey }\n});"
                        }
                    ],
                    "samples-languages": [
                        "javascript"
                    ]
                }
            },
            "put": {
                "summary": "Update a Timesheet",
                "description": "A Timesheet instance records the number of hours spent on Tasks and Administrative activities for a particular Resource.\n\nA Timesheet entry is for a particular day, and there can only be one Timesheet record per Resource for a particular task or admin type for a specific date.\n\nUse this API to update a Timesheet record by its unique identifier.",
                "operationId": "edit-a-timesheet",
                "parameters": [
                    {
                        "name": "timesheetId",
                        "in": "path",
                        "description": "The unique identifier of the Timesheet record that you wish to update.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "Hours": {
                                        "type": "integer",
                                        "description": "Hours of the timesheet entry. Will not update if the value is null",
                                        "format": "int32"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Description of the timesheet entry. Will not update if the name is null."
                                    }
                                }
                            },
                            "examples": {
                                "Request Example": {
                                    "value": {
                                        "hours": 3,
                                        "name": "Timesheet description"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "get": {
                "summary": "Get a Timesheet",
                "description": "A Timesheet instance records the number of hours spent on Tasks and Administrative activities for a particular Resource.\n\nA Timesheet entry is for a particular day, and there can only be one Timesheet record per Resource for a particular task or admin type for a specific date.\n\nUse this API to retrieve a single Timesheet by its unique identifier.",
                "operationId": "retrieve-a-timesheet",
                "parameters": [
                    {
                        "name": "timesheetId",
                        "in": "path",
                        "description": "The unique Id of the Timesheet entry that you would like to retrieve.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"status\": \"Okay\",\n    \"timesheet\": {\n        \"adminTypeId\": null,\n        \"date\": \"2015-05-07T00:00:00\",\n        \"hours\": 8.00,\n        \"projectId\": 555069,\n        \"taskId\": 28178219,\n        \"resouceId\": 1608580,\n        \"id\": 14469255,\n        \"name\": null\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "Okay"
                                        },
                                        "timesheet": {
[...]
